@media (width <= 990px) {
.grid-container {
    grid-template-columns: repeat(1, 1fr) !important;
}
}

.colgrid-left {
    text-align: left;
}
.colgrid-center {
    text-align: center;
}
.colgrid-right {
    text-align: right;
}
.colgrid-top-sm {
    padding-top: 8px;
}
.colgrid-top-md {
     padding-top: 16px;
}
.colgrid-top-lg {
     padding-top: 24px;
}
.colgrid-bottom-sm {
     padding-top: 8px;
}
.colgrid-bottom-md {
    padding-top: 16px;
}
.colgrid-bottom-lg {
    padding-top: 24px;
}

