.dnone {
    display: none;
    visibility: hidden;
}

@media (width <= 990px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr) !important;
    }
    .colgrid-m-left {
        text-align: left;
    }
    .colgrid-m-center {
        text-align: center;
    }
    .colgrid-m-right {
        text-align: right;
    }
}
@media (width >= 990px) {
    .colgrid-d-left {
        text-align: left;
    }
    .colgrid-d-center {
        text-align: center;
    }
    .colgrid-d-right {
        text-align: right;
    }
}

.colgrid-top-sm {
    padding-top: 8px;
}
.colgrid-top-md {
     padding-top: 16px;
}
.colgrid-top-lg {
     padding-top: 24px;
}
.colgrid-bottom-sm {
     padding-top: 8px;
}
.colgrid-bottom-md {
    padding-top: 16px;
}
.colgrid-bottom-lg {
    padding-top: 24px;
}

