/* header and nav layout */
header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 2;
  position: fixed;
}

header nav {
  box-sizing: border-box;
  grid-template:
    'hamburger brand tools' var(--nav-height)
    'sections sections sections' 1fr / auto 1fr auto;
  align-items: center;
  gap: 0 24px;
  margin: auto;
  font-family: var(--body-font-family);
  height: 150px;
}

header nav[aria-expanded='true'] {
  grid-template:
    'hamburger brand' var(--nav-height) 'sections sections' 1fr
    'tools tools' var(--nav-height) / auto 1fr;
  overflow-y: auto;
  min-height: 100dvh;
}

.header-container-wrapper .default-content-wrapper p .icon-left-icon,
.header-container-wrapper .default-content-wrapper p .icon-right-icon,
.header-container-wrapper .default-content-wrapper p .icon-down-icon,
.header-container-wrapper .default-content-wrapper p .icon-left-mobile-icon,
.header-container-wrapper .default-content-wrapper p .icon-right-mobile-icon,
.header-container-wrapper .default-content-wrapper p .icon-down-mobile-icon {
  width: 12px;
  height: 12px;
}

/* tools */
header nav .nav-tools .default-content-wrapper {
  display: flex;
  gap: 24px;
}

header nav .nav-tools .default-content-wrapper p {
  margin: 0;
}

.header-container-wrapper .nav-find-store .default-content-wrapper {
  display: flex;
  gap: 8px;
}

header nav p {
  margin: 0;
}

@media (width >=900px) {
  header nav[aria-expanded='true'] {
    min-height: 0;
    overflow: visible;
  }

  header nav .header-container-wrapper {
    display: grid;
    grid-template-columns: 7fr 1fr 1fr;
    background-color: #0b1b33;
    align-items: center;
  }

  header nav .navigation-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 16px 32px;
    gap: 48px;
    align-items: center;
  }

  header nav .navigation-wrapper .navigation-wrapper {
    padding: 0;
  }

  .navigation .navigation-column-card .text-btn p a {
    margin: 0;
    padding: 0;
  }

  .navigation-columns-wrapper .navigation-column .navigation-column-child ul li a {
    color: #1e4b8f;
    text-align: center;
    font-family: var(--font-family-ab);
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.32px;
  }

  /* Tepurary CSS */
  .header-container-wrapper .nav-carusal-button .default-content-wrapper {
    display: flex;
    align-items: center;
    gap: 60px;
  }

  .header-container-wrapper .nav-carusal-button .default-content-wrapper p {
    padding: 16px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }

  .header-container-wrapper .nav-find-store .default-content-wrapper p {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 140%;
  }

  .header-container-wrapper .nav-book-exam-button .default-content-wrapper .button-container a {
    background-color: #fff;
    border: unset;
  }

  header nav .navigation-wrapper .navigation .navigation-title {
    color: #295edb;
    text-align: center;
    font-family: var(--font-family-ab);
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 140%;
  }

  .navigation-column .navigation-column-child ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0;
    padding-top: 24px;
  }

  .navigation-columns-wrapper .navigation-column .navigation-column-title {
    color: #1c1818;
    font-family: var(--font-family-ab);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }

  .navigation .navigation-card-image img {
    height: 236.813px;
    width: 421px;
    align-self: stretch;
    aspect-ratio: 421/236.81;
    margin-bottom: 24px;
  }

  .navigation .navigation-column-card .navigation-card-pretitle p {
    color: #625e59;
    font-family: var(--font-family-ab);
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: 140%;
    margin-bottom: 8px;
  }

  .navigation .navigation-column-card .navigation-card-title p {
    color: #625e59;
    font-family: var(--font-family-ab);
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 22px;
    margin-bottom: 16px;
  }

  .navigation .navigation-column-card .navigation-button-text {
    display: none;
  }
}

header nav .navigation-wrapper .navigation-column {
  width: 199px;
  border-right: 1px solid#D6D6D6;
}

header nav a:any-link {
  color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  position: relative;
  top: 46px;
  padding-left: 16px;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon,
header nav[aria-expanded='false'] .nav-hamburger-icon::before,
header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::before,
header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (width >=900px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */
header .nav-brand {
  grid-area: brand;
  flex-basis: 128px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
}

header nav .nav-brand img {
  width: 128px;
  height: auto;
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
}

/* header nav[aria-expanded='true'] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
} */

header nav .nav-sections ul {
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
}

header nav .nav-sections ul > li {
  font-weight: 500;
}

header nav .nav-sections ul > li > ul {
  margin-top: 0;
}

header nav .nav-sections ul > li > ul > li {
  font-weight: 400;
}

@media (width >=900px) {
  header nav[aria-expanded='true'] .nav-sections {
    align-self: unset;
  }

  header nav .nav-sections .default-content-wrapper > ul > li {
    flex: 0 1 auto;
    position: relative;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul {
    display: none;
    position: relative;
  }

  header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded='true'] > ul {
    display: block;
    position: absolute;
    left: -24px;
    width: 200px;
    top: 150%;
    padding: 16px;
    background-color: var(--light-color);
    white-space: initial;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 16px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--light-color);
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li {
    padding: 8px 0;
  }

  .navigation-wrapper {
    background-color: white;
  }
}

.popover {
  display: none;
  position: absolute;
  top: 65px;
  right: 45px;
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px #0000001a;
}

.navigation-wrapper .navigation .navigation-columns-wrapper {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  top: 157px;
  gap: 24px;
  padding: 48px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px #0000001a;
}

.navigation-wrapper[aria-expanded='true'] .navigation .navigation-columns-wrapper {
  display: flex;
}

.navigation-container {
  display: flex;
  gap: 32px;
}

.navigation-wrapper .navigation .navigation-title {
  cursor: pointer;
}

.header-container-wrapper .nav-book-exam-button .default-content-wrapper p.button-container {
  margin: 0;
  padding: 16px 0;
}

/* header for mobile for temporary */

@media (width <=900px) {
  .header-container-wrapper .nav-carusal-button .default-content-wrapper p {
    color: #000;
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 800;
    line-height: 140%;
    margin: 0;
  }

  .header-container-wrapper .nav-find-store .default-content-wrapper p {
    color: #295edb;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: 140%;
  }

  .header-container-wrapper .nav-carusal-button .default-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    top: -30px;
    padding-bottom: 12px;
    padding-top: 16px;
  }

  .header-container-wrapper .nav-book-exam-button .default-content-wrapper .button-container a {
    background-color: #295edb;
    color: #fff;
  }

  .header-container-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
  }

  .navigation-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 110px;
    margin-left: 36px;
    padding-right: 16px;
  }

  .header-container-wrapper > .nav-carusal-button {
    width: 100%;
  }

  header .nav-wrapper .navigation-wrapper .navigation-container {
    display: none;
  }
}

/* Favorite icon Modal */

.modal-overlay.fav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 1000;
}

.fav-modal {
  position: fixed;
  top: 9rem;
  right: 0;
  background: var(--color-white);
  padding: 0.75rem;
  z-index: 1000;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.3);
  width: 20rem;
}

.fav-modal .modal-content {
  max-width: 25rem;
}

.fav-modal .modal-content .fav-title {
  margin-top: 0;
  margin-bottom: 0.75rem;
  color: var(--color-black);
}

.icon-favourite-icon::before{
  border-left: 0.75rem solid transparent;
  border-right: 0.75rem solid transparent;
  border-bottom: 0.75rem solid #f3f2ef;
  right: 0.563rem;
  z-index: 1;
}

.fav-modal svg {
  position: absolute;
  top: -0.625rem;
  left: 10.375rem;
  width: 1.875rem;
  height: auto;
}


/* My Account modal */
.modal-overlay.account-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 1000;
}

.account-modal {
  position: fixed;
  top: 9rem;
  right: 0;
  background: var(--color-white);
  padding: 1rem;
  z-index: 1000;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.3);
  width: 17.5rem;
}

.account-modal .modal-content {
  max-width: 25rem;
}

.account-modal .modal-content .account-title {
  margin-top: 0;
  margin-bottom: 0.75rem;
  color: var(--color-black);
}

.account-modal .icon-account-icon::before{
  border-left: 0.75rem solid transparent;
  border-right: 0.75rem solid transparent;
  border-bottom: 0.75rem solid #f3f2ef;
  right: 0.563rem;
  z-index: 1;
}

.account-modal svg {
  position: absolute;
  top: -0.625rem;
  left: 10.875rem;
  width: 1.875rem;
  height: auto;
}

/* Cart modal */
.modal-overlay.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 1000;
}

.cart-modal {
  position: fixed;
  top: 9rem;
  right: 0;
  background: var(--color-white);
  padding: 1rem;
  z-index: 1000;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.3);
  width: 17.5rem;
}

.cart-modal .modal-content {
  max-width: 25rem;
}

.cart-modal .modal-content .cart-title {
  margin-top: 0;
  margin-bottom: 0.75rem;
  color: var(--color-black);
}

.cart-modal .icon-cart-icon::before{
  border-left: 0.75rem solid transparent;
  border-right: 0.75rem solid transparent;
  border-bottom: 0.75rem solid #f3f2ef;
  right: 0.563rem;
  z-index: 1;
}

.cart-modal svg {
  position: absolute;
  top: -0.625rem;
  left: 14rem;
  width: 1.875rem;
  height: auto;
}

/* Search icon */

.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.search-input-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  z-index: 1000;
  position: fixed;
  right: 0;
  /* position: relative;
  margin-left: -6%; */
}

.search-input-wrapper.hidden, .search-overlay.hidden {
  display: none;
}

.search-input-wrapper .search-box {
  display: flex;
  width: 31.25rem;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 0.25rem;
  border: 0.063rem solid #295EDB;
}

.search-input-wrapper .search-icon-inside {
  display: flex;
  padding: 15px 0.75rem;
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;
}

.search-input-wrapper .close-icon {
  cursor: pointer;
  display: flex;
  width: 2rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
  align-self: stretch;
  padding: 17px 0.625rem;
}

.search-input-wrapper .search-box input[type="text"] {
  border: none;
  outline: none;
  width: 25.75rem;
  display: flex;
  padding: 0.75rem 1rem 0.75rem 0px;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex: 1 0 0;
  color: #625E59;
  text-overflow: ellipsis;
  /* Body/B1/Regular */
  font-family: var(--avenir-roman);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-base);
  line-height: var(--body-font-size-l);
  font-style: normal;
}

/* .navigation-wrapper.input-opened {
  height: 4.375rem;
} */

.search-input-wrapper .cancel-button {
  padding: 0.75rem 2rem 0.75rem 0;
}

.search-input-wrapper .link-btn .button-container a.button {
  font-family: var(--avenir-roman);
}

p:has(.icon-favourite-icon-active),p:has(.icon-account-icon-active) {
  display: none;
}

.icon-favourite-icon.active svg,.icon-account-icon.active svg {
  height: 100%;
  width: 100%;
}

.icon-cart-icon.active img {
  filter: invert(27%) sepia(83%) saturate(655%) hue-rotate(203deg) brightness(94%) contrast(92%);
}

@media (width <= 900px) {
  .account-modal {
    width: 17.5rem;
    top: 4.5rem;
    margin-top: 0.125rem;
  }

  .account-modal svg {
    left: 11.875rem;
  }

  .icon-account-icon.active{
    filter: invert(27%) sepia(83%) saturate(655%) hue-rotate(203deg) brightness(94%) contrast(92%);
  }

  .cart-modal {
    width: 17.5rem;
    top: 4.5rem;
    margin-top: 0.125rem;
  }
  
  .cart-modal svg {
    left: 15rem;
  }
  
  .search-input-wrapper {
    padding: 0.75rem 0 0.75rem 1rem;
    width: 100%;
    max-width: 100vw;
  }

  .search-input-wrapper .search-box {
    width: 17.625rem;
  }
  
  .search-input-wrapper .search-box input[type="text"] {
    width: 12.375rem;
    padding: 0.5rem 0.75rem 0.5rem 0;
    font-size: var(--body-font-size-xxs);
    line-height: 1.225rem;
  }

  .search-input-wrapper .cancel-button {
    padding: 0.531rem 1rem 0.531rem 0;
  }
  
  .search-input-wrapper .link-btn .button-container a.button {
    line-height: normal;
  }
  /* .navigation-wrapper.input-opened {
    height: 0.75rem;
  } */

  .search-input-wrapper .search-icon-inside {
    display: flex;
    padding: 0.625rem 0.75rem;
  }
  .search-input-wrapper .close-icon {
    padding: 0.25rem;
  }
}

@media (width = 900px) {
.navigation-wrapper {
  bottom: 0;
}
}