.tabs .tabs-list {
  display: flex;
  gap: 0.5ch;
  max-width: 100%;
  font-size: var(--body-font-size-xs);
  overflow-x: auto;
}

@media (width >= 600px) {
  .tabs .tabs-list {
    font-size: var(--body-font-size-s);
  }
}

@media (width >= 900px) {
  .tabs .tabs-list {
    font-size: var(--body-font-size-m);
  }
}

.tabs .tabs-list button {
  flex: 0 0 max-content;
  margin-right: 4px;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: solid 2px var(--primary-cta);
  border-radius: 0;
  padding: 8px 12px;
  color: initial;
  transition: background-color 0.2s;
  background: none;
  min-width: 100px;
}

.tabs .tabs-list button p {
  margin: 0;
}


.tabs .tabs-list button[aria-selected='true'] {
  border-bottom: 1px solid var(--background-color);
  background-color: var(--background-color);
  cursor: initial;
}

.tabs .tabs-panel {
  margin-top: -1px;
  padding: 24px;
  overflow: auto;
}

.tabs .tabs-panel[aria-hidden='true'] {
  display: none;
}
