
footer {
  background-color: var(--light-color);
  font-size: var(--body-font-size-xs);
}

footer .footer .section {
  padding: 24px 16px;
}

footer .footer .section:nth-child(1) {
  padding-bottom: 0;
}

footer .footer .section:nth-child(2) {
  padding-top: 0;
}

footer .footer .section:nth-child(2) .default-content-wrapper {
  margin-top: 24px;
  text-align: center;
}

footer .footer-americas-bg {
  background-color: #0b1b33;
  font-family: var(--avenir) !important;
}

footer .footer-vistaopt-bg {
  background-color: #21356e;
  font-family: var(--avenir) !important;
}

footer .footer-eyeglass-bg {
  background-color: #007cba;
  font-family: var(--avenir) !important;
}

footer .footer .default-content-wrapper h2 {
  font-family: var(--body-font-family);
  color: var(--background-color) !important;
  font-size: 48px;
  font-weight: 900;
  font-style: normal;
  line-height: 58px;
  letter-spacing: -0.48px;
  text-align: center;
  margin: 0 0 16px;
}

footer .footer > div {
  margin: auto;
}

footer .footer p {
  margin: 0;
}

footer .section:nth-child(2) .default-content-wrapper p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.6px;
  color: var(--background-color);
}

@media (width >= 900px) {
  footer .footer .default-content-wrapper h2 {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    letter-spacing: -0.48px;
    text-align: center;
    margin: 0;
  }

  footer .footer .section {
    /* display: flex;
    flex-wrap: wrap;
    gap: 24px; */
    padding: 48px 64px;
  }

  footer .footer .section:nth-child(2) .default-content-wrapper {
    text-align: left;
  }

  footer .section p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.6px;
    color: var(--background-color);
  }

  footer .footer .section:first-child .default-content-wrapper {
    width: auto;
    display: inline-flex;
  }
}

@media (width >= 1280px) {
  footer .footer .section:first-child .default-content-wrapper {
    width: 50%;
  }

  footer .footer .section:nth-child(1) {
    margin-bottom: -43px;
  }

  footer .footer .default-content-wrapper h2 {
    text-align: left;
  }
}

@media (width >= 1920px) {
  footer .footer .section {
    max-width: 1440px;

    /* padding-left: calc((100vw - (1920px - (96px * 2 )))/2);
    padding-right: calc((100vw - (1920px - (96px * 2 )))/2); */
    margin: 0 auto;
  }
}

/* css for multi branding americasbest , eyeglassworld, militaryoptical, vistaoptical*/


body footer .link-list-wrapper.vertical .link-list-detail ul li{
  margin-bottom: 1rem;
}
body footer .link-list-wrapper.vertical{
  padding-right: 0px;
}
body footer .link-list-wrapper.horizontal{
  text-align: center;
}
@media (width > 900px) {
body footer .footer .horizontal .link-list-detail ul li{
width: 14.25rem;
}
}
.americasbest footer .footer{
  background-color: #0B2572;
  font-family: var(--outerfit-reg) !important;
}
.americasbest footer .footer h2{
font-size: 48px;
line-height: 58px;
font-weight: 900;
font-family: var(--outerfit-bold) !important;
letter-spacing: normal;
word-wrap: break-word;
text-align:left;
}
.americasbest footer .link-list-wrapper.vertical .link-list-title{
color: #EFEDE7;
 font-size: 16px;
 font-family: var(--outerfit-bold) !important;
 font-weight: 700;
 letter-spacing: 0.32px;
 line-height: normal;
 word-wrap: break-word
}

.americasbest footer .link-list-wrapper.vertical .link-list-detail ul li, 
.americasbest footer .link-list-wrapper.vertical .link-list-detail ul li a, 
.americasbest footer .footer .link-list-wrapper.horizontal .link-list-detail ul li{
color: #EFEDE7;
 font-size: 11px;
 font-family: var(--outerfit-reg) !important;
 font-weight: 400;
 line-height: 15.40px;
 word-wrap: break-word
}

.americasbest footer .link-list-container .link-list-wrapper.horizontal{
border-block: 1px solid  #EFEDE7;

}
.americasbest footer .footer .horizontal .link-list-detail ul li, 
.americasbest footer .footer .horizontal .link-list-detail ul li a{
color: #EFEDE7;
 font-size: 11px;
 font-family: var(--outerfit-reg) !important;
 font-weight: 400;
 line-height: 15.40px;
 word-wrap: break-word
}
.americasbest footer .section:nth-child(2) .default-content-wrapper p{
color: #EFEDE7;
 font-size: 14px;
 font-family: var(--outerfit-reg) !important;
 font-weight: 400;
 line-height: 19.60px;
 word-wrap: break-word
}

/* css for eyeglassworld*/
.eyeglassworld footer .footer{
  background-color: #007CBA;
  font-family: var(--graphik) !important;
}
.eyeglassworld footer .footer h2{
font-size: 48px;
line-height: 58px;
font-weight: 700;
font-family: var(--graphik) !important;
letter-spacing: normal;
word-wrap: break-word;
text-align:left;
color: var(--color-white) !important;
}
.eyeglassworld footer .link-list-wrapper.vertical .link-list-title{
color: var(--color-white);
 font-size: 22px;
 font-family: var(--graphik) !important;
 font-weight: 700;
 line-height: 22px;
 word-wrap: break-word
}

.eyeglassworld footer .link-list-wrapper.vertical .link-list-detail ul li, 
.eyeglassworld footer .link-list-wrapper.vertical .link-list-detail ul li a, 
.eyeglassworld footer .footer .link-list-wrapper.horizontal .link-list-detail ul li{
color: var(--color-white);
 font-size: 16px;
 font-family: var(--graphik) !important;
 font-weight: 600;
 line-height: 22.40px;
 word-wrap: break-word
}

.eyeglassworld footer .link-list-container .link-list-wrapper.horizontal{
border-block: 1px solid  var(--color-white);

}
.eyeglassworld footer .footer .horizontal .link-list-detail ul li, 
.eyeglassworld footer .footer .horizontal .link-list-detail ul li a{
color: var(--color-white);
 font-size: 16px;
 font-family: var(--graphik) !important;
 font-weight: 600;
 line-height: 22.40px;
 word-wrap: break-word
}
.eyeglassworld footer .section:nth-child(2) .default-content-wrapper p{
color: var(--color-white);
 font-size: 14px;
 font-family: var(--graphik) !important;
 font-weight: 400;
 line-height: 19.60px;
 word-wrap: break-word
}


/* css for militaryoptical*/
.militaryoptical footer .footer{
  background-color: #F3F2EF;
  font-family: var(--gilroy) !important;
}
.militaryoptical footer .footer h2{
color: var(--color-black) !important;
font-size: 48px;
line-height: 58px;
font-weight: 900;
font-family: var(--gilroy) !important;
letter-spacing: normal;
word-wrap: break-word;
text-align:left;
}
.militaryoptical footer .link-list-wrapper.vertical .link-list-title{
color: var(--color-black);
 font-size: 22px;
 font-family: var(--gilroy) !important;
 font-weight: 900;
 line-height: 22px;
 word-wrap: break-word
}

.militaryoptical footer .link-list-wrapper.vertical .link-list-detail ul li, 
.militaryoptical footer .link-list-wrapper.vertical .link-list-detail ul li a, 
.militaryoptical footer .footer .link-list-wrapper.horizontal .link-list-detail ul li{
color: var(--color-black);
 font-size: 16px;
 font-family: var(--gilroy) !important;
 font-weight: 400;
 line-height: 22.40px;
 word-wrap: break-word
}

.militaryoptical footer .link-list-container .link-list-wrapper.horizontal{
border-block: 1px solid  var(--color-black);

}
.militaryoptical footer .footer .horizontal .link-list-detail ul li, 
.militaryoptical footer .footer .horizontal .link-list-detail ul li a{
color: var(--color-black);
 font-size: 16px;
 font-family: var(--gilroy) !important;
 font-weight: 400;
 line-height: 22.40px;
 word-wrap: break-word
}
.militaryoptical footer .section:nth-child(2) .default-content-wrapper p{
color: var(--color-black);
 font-size: 11px;
 font-family: var(--gilroy) !important;
 font-weight: 400;
 line-height: 15.40px;
 word-wrap: break-word
}


/* css for vistaoptical*/
.vistaoptical footer .footer{
  background-color: #21356E;
  font-family: var(--myriad-pro) !important;
}
.vistaoptical footer .footer h2{
color: var(--color-white) !important;
font-size: 48px;
line-height: 58px;
font-weight: 900;
font-family: var(--myriad-pro) !important;
letter-spacing: normal;
word-wrap: break-word;
text-align:left;
}
.vistaoptical footer .link-list-wrapper.vertical .link-list-title{
color: var(--color-white);
 font-size: 22px;
 font-family: var(--myriad-pro) !important;
 font-weight: 900;
 line-height: 22px;
 word-wrap: break-word
}

.vistaoptical footer .link-list-wrapper.vertical .link-list-detail ul li, 
.vistaoptical footer .link-list-wrapper.vertical .link-list-detail ul li a, 
.vistaoptical footer .footer .link-list-wrapper.horizontal .link-list-detail ul li{
color: var(--color-white) ;
 font-size: 16px;
 font-family: var(--myriad-pro) !important;
 font-weight: 400;
 line-height: 22.40px;
 word-wrap: break-word
}

.vistaoptical footer .link-list-container .link-list-wrapper.horizontal{
border-block: 1px solid  var(--color-white) ;

}
.vistaoptical footer .footer .horizontal .link-list-detail ul li, 
.vistaoptical footer .footer .horizontal .link-list-detail ul li a{
color: var(--color-white) ;
 font-size: 16px;
 font-family: var(--myriad-pro) !important;
 font-weight: 400;
 line-height: 22.40px;
 word-wrap: break-word
}
.vistaoptical footer .section:nth-child(2) .default-content-wrapper p{
color: var(--color-white) ;
 font-size: 11px;
 font-family: var(--myriad-pro) !important;
 font-weight: 400;
 line-height: 15.40px;
 word-wrap: break-word
}


@media (width < 901px) {
  body footer .footer .link-list-wrapper.horizontal .link-list-detail ul{
    gap:1rem;
  }
.americasbest footer .footer h2{
font-size: 36px;
line-height: 58px;
font-weight: 900;
}
.americasbest footer .link-list-wrapper.vertical .link-list-title{
 font-size: 18px;
 font-weight: 700;
 line-height: 22px;
}
.americasbest footer .footer .horizontal .link-list-detail ul li, 
.americasbest footer .footer .horizontal .link-list-detail ul li a{
 font-size: 10px;
 font-weight: 400;
 line-height: 14px;
}

.americasbest footer .section:nth-child(2) .default-content-wrapper p{
 font-size: 14px;
 font-weight: 400;
 line-height: 19.60px;
}
/* css for eyeglassworld*/
.eyeglassworld footer .footer h2{
font-size: 32px;
line-height: 40px;
font-weight: 700;
}
.eyeglassworld footer .link-list-wrapper.vertical .link-list-title{
 font-size: 18px;
 font-weight: 700;
 line-height: 22px;
}

.eyeglassworld footer .link-list-wrapper.vertical .link-list-detail ul li, 
.eyeglassworld footer .link-list-wrapper.vertical .link-list-detail ul li a, 
.eyeglassworld footer .footer .link-list-wrapper.horizontal .link-list-detail ul li{

 font-size: 14px;
 font-weight: 400;
 line-height: 19.60px

}
.eyeglassworld footer .footer .horizontal .link-list-detail ul li, 
.eyeglassworld footer .footer .horizontal .link-list-detail ul li a{
 font-size: 16px;
 font-weight: 600;
 line-height: 22.40px;
}
.eyeglassworld footer .section:nth-child(2) .default-content-wrapper p{
 font-size: 14px;
 font-weight: 400;
 line-height: 19.60px;
}
.eyeglassworld footer .link-list-wrapper.vertical, .eyeglassworld footer .link-list-wrapper.horizontal{
border-block: 1px solid var(--color-white);
}

/* css for militaryoptical*/
.militaryoptical footer .footer h2{
font-size: 36px;
line-height: 58px;
font-weight: 900;
}
.militaryoptical footer .link-list-wrapper.vertical .link-list-title{
 font-size: 18px;
 font-weight: 900;
 line-height: 22px;
}

.militaryoptical footer .link-list-wrapper.vertical .link-list-detail ul li, 
.militaryoptical footer .link-list-wrapper.vertical .link-list-detail ul li a, 
.militaryoptical footer .footer .link-list-wrapper.horizontal .link-list-detail ul li{

 font-size: 14px;
 font-weight: 400;
 line-height: 19.60px

}
.militaryoptical footer .footer .horizontal .link-list-detail ul li, 
.militaryoptical footer .footer .horizontal .link-list-detail ul li a{
 font-size: 14px;
 font-weight: 400;
 line-height: 19.60px;
}
.militaryoptical footer .section:nth-child(2) .default-content-wrapper p{
 font-size: 10px;
 font-weight: 400;
 line-height: 14px;
}
.militaryoptical footer .link-list-wrapper.vertical .link-list-title::after{
color: var(--color-black);
}
.militaryoptical footer .link-list-wrapper.vertical{
border-block: 1px solid var(--color-black);
}
/* css for vistaoptical*/
.vistaoptical footer .footer h2{
font-size: 36px;
line-height: 58px;
font-weight: 900;
}
.vistaoptical footer .link-list-wrapper.vertical .link-list-title{
 font-size: 18px;
 font-weight: 900;
 line-height: 22px;
}

.vistaoptical footer .link-list-wrapper.vertical .link-list-detail ul li, 
.vistaoptical footer .link-list-wrapper.vertical .link-list-detail ul li a, 
.vistaoptical footer .footer .link-list-wrapper.horizontal .link-list-detail ul li{

 font-size: 14px;
 font-weight: 400;
 line-height: 19.60px

}
.vistaoptical footer .footer .horizontal .link-list-detail ul li, 
.vistaoptical footer .footer .horizontal .link-list-detail ul li a{
 font-size: 14px;
 font-weight: 400;
 line-height: 19.60px;
}
.vistaoptical footer .section:nth-child(2) .default-content-wrapper p{
 font-size: 10px;
 font-weight: 400;
 line-height: 14px;
}
.vistaoptical footer .link-list-wrapper.vertical, .vistaoptical footer .link-list-wrapper.horizontal{
border-block: 1px solid var(--color-white);
}

}
