@import url('./styles.css');

/* Brand: America's Best */
/* Americas color */
.americasbest {
  --primary-cta: #295EDB;
  --primary-cta-hover: #1E4B8F;
  --selected: #14315B;
  --secondary-cta: #295EDB;
  --secondary-cta-hover: #1E4B8F;
  --link-color: #295edb;
  --link-hover-color: #1e4b8f;
  --deativated: #c5D4F5;
  --deactivated-secondary: #C5D4F5;
  --lightest: #007CDA;


  --primary-color1: ##007CBA;
  --primary-color2: #ed1c24;
  --primary-color3: #0B1B33;
  --secondary-color1: #1a6f7b;
  --secondary-color2: #015039;
  --secondary-color3: #f76523;
  --secondary-color4: #faa82d;


--font-family: 'Avenir', roboto, roboto-fallback, sans-serif;

}