@import url('./americasbest.css');
@import url('./eyeglassworld.css');
@import url('./militaryoptical.css');
@import url('./styles.css');

/*all buttons*/
.button a.button.disabled {
  pointer-events: none;
}
a.button:any-link,
button {
  box-sizing: border-box;
  display: inline-flex;
  max-width: 100%;
  text-align: center;
  height: 54px;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 800;
  line-height: 22.4px;
  text-decoration: none;
  background-color: var(--link-color);
  color: var(--background-color);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  letter-spacing: 0.32px;
  border-radius: 48px;
  font-size: 16px;
}

/* Primary */
a.button,
button,
a.button.primary,
button.primary {
  background-color: var(--primary-cta);
  color: var(--color-white);
}
a.button:hover,
button:hover,
a.button.primary:hover,
button.primary:hover {
  background-color: var(--primary-cta-hover);
  color: var(--color-white);
}
a.button:disabled,
button:disabled,
a.button.primary:disabled,
button.primary:disabled {
  background-color: var(--link-color);
  color: var(--color-white);
  opacity: 0.3;
}
a.button:focus,
button:focus,
a.button.primary:focus,
button.primary:focus {
  background-color: var(--link-color);
  color: var(--color-white);
  outline: 2px solid var(--link-color);
  outline-offset: 4px;
  border: 2px solid var(--link-color);
  height: 58px;
}

@media (width <= 768px) {
  a.button,
  button,
  a.button.primary,
  button.primary {
    padding: 0.75em 1.5em;
  }
}

/* Secondary Button */
a.button.secondary,
button.secondary,
.secondary .button-container a.button,
button.secondary {
  background-color: unset;
  border: 2px solid var(--link-color);
  color: var(--link-color);
  height: 58px;
}
a.button.secondary:hover,
button.secondary:hover {
  background-color: unset;
  border: 2px solid var(--link-hover-color);
  color: var(--link-hover-color);
}
a.button.secondary:disabled,
button.secondary:disabled {
  background-color: unset;
  border: 2px solid var(--link-color);
  color: var(--link-color);
  opacity: 0.3;
}
a.button.secondary:focus,
button.secondary:focus {
  background-color: unset;
  border: 2px solid var(--link-color);
  color: var(--link-color);
  outline: 2px solid var(--link-color);
  outline-offset: 2px;
}
.secondary .button-container .button:hover,
button.secondary:hover {
  background-color: unset;
  border: 2px solid var(--link-hover-color);
  color: var(--link-hover-color);
}

@media (width <= 768px) {
  a.button.secondary,
  button.secondary {
    padding: 0.75em 1.5em;
  }
}

a.button.secondary.disabled,
button.secondary.disabled {
  background-color: unset;
  border: 2px solid var(--link-color);
  color: var(--link-color);
  opacity: 0.3;
}

@media (width<= 900px) {
  a.button.secondary,
  button.secondary {
    padding: 12px 16px;
  }
}

/* Input Button - primary-variant*/
.primary-variant .button-container a.button,
.primary-variant .button-container a.button:active:hover,
button.primary-variant {
  background-color: var(--primary-cta);
  color: var(--color-white);
  border-radius: 8px;
  font-size: 16px;
  line-height: 22.4px;
  letter-spacing: 0.32px;
  font-weight: 800;
  font-family: var(--body-font-family);
  display: inline-flex;
  padding: 16px 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 54px;
}

.primary-variant .button-container a.button:focus,
button.primary-variant:focus {
  outline: 2px solid var(--primary-cta);
  border: 2px;
  outline-offset: 4px;
}
/* Primary Variant Button */
@media (width <= 990px) {
  .primary-variant .button-container a.button,
  .secondary-variant .button-container a.button,
  button.primary-variant,
  button.secondary-variant {
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: 19.6px;
    letter-spacing: 0.28px;
    display: inline-flex;
    padding: 12px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 44px;
    border-radius: 8px;
  }

  .primary-variant .button-container a.button.disabled,
  button.primary-variant.disabled {
    background-color: var(--primary-cta);
    color: var(--color-white);
    opacity: 0.3;
  }

  .primary-variant .button-container a.button:focus,
  button.primary-variant:focus {
    background-color: var(--primary-cta);
  }

  .primary-variant .button-container a.button:hover,
  button.primary-variant:hover {
    background-color: var(--primary-cta-hover);
  }
}

/* Input Secondary Button - secondary-variant*/
.secondary a.button:focus,
.secondary-variant a.button:focus,
button.secondary-variant:focus {
  background-color: unset;
  border: 2px solid var(--link-color);
  color: var(--link-color);
  outline: 2px solid var(--link-color);
  outline-offset: 4px;
}

.secondary-variant .button-container a.button,
.secondary-variant .button-container a.button:active:hover,
button.secondary-variant {
  background-color: unset;
  border: 2px solid var(--link-color);
  border-radius: 8px;
  color: var(--link-color);
  padding: 16px 32px;
  height: 54px;
}
.secondary-variant .button-container a.button,
button.secondary-variant {
  height: 44px;
}

/* Text Button */
a.button.text-btn,
button.text-btn {
  background-color: unset;
  color: var(--link-color);
  padding: 0;
}

a.button.text-btn:hover,
button.text-btn:hover {
  background-color: unset;
  color: var(--link-hover-color);
  border-bottom: 1px solid var(--link-hover-color);
}

a.button.text-btn:disabled,
button.text-btn:disabled {
  background-color: unset;
  color: var(--link-color);
  opacity: 0.3;
}
a.button.text-btn:focus,
button.text-btn:focus {
  background-color: unset;
  border-radius: 4px;
  border: 1px solid var(--link-color);
  color: var(--link-color);
}

.text-btn .button-container a.button {
  background-color: unset;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 22.4px;
  letter-spacing: 0.32px;
  margin: 0;
  padding: 0;
  height: 22px;
  color: var(--primary-cta);
  overflow: visible;
}

.text-btn .button-container a.button:hover {
  border-bottom: 1px solid var(--primary-cta-hover);
  border-radius: 0;
  color: var(--primary-cta-hover);
}

.text-btn .button-container a.button.disabled {
  opacity: 0.3;
  color: var(--primary-cta);
}

.text-btn .button-container a.button:focus {
  border: 1px solid var(--primary-cta);
  border-radius: 4px;
  outline-offset: 0;
  height: 30px;
  color: var(--primary-cta);
}
@media (width <= 990px) {
  .text-btn .button-container a.button {
    color: var(--primary-cta);
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: 19.6px;
    letter-spacing: 0.28px;
    height: 22px;
    margin: 0;
    padding: 0;
    outline-offset: 0;
  }

  .text-btn .button-container a.button:hover {
    color: var(--primary-cta-hover);
    border-bottom: 1px solid var(--primary-cta-hover);
  }

  .text-btn .button-container a.button.disabled {
    color: var(--primary-cta);
    opacity: 0.3;
  }

  .text-btn .button-container a.button:focus {
    color: var(--primary-cta);
    border-radius: 4px;
    border: 1px solid var(--primary-cta);
    height: 30px;
  }
}
/* Link Button */
a.button.link-btn,
button.link-btn {
  background-color: unset;
  color: var(--link-color);
  padding: 0;
}
a.button.link-btn:hover,
button.link-btn:hover {
  background-color: unset;
  color: var(--link-hover-color);
  border-bottom: 1px solid var(--link-hover-color);
}
a.button.link-btn:disabled,
button.link-btn:disabled {
  background-color: unset;
  color: var(--link-color);
  opacity: 0.3;
}
a.button.link-btn:focus,
button.link-btn:focus {
  background-color: unset;
  border-radius: 8px;
  border: 2px solid var(--link-color);
  color: var(--link-color);
}
.link-btn .button-container a.button:focus {
  background-color: unset;
  border-radius: 8px;
  color: var(--link-color);
  padding: 4px;
  border: 2px solid var(--link-color);
  outline-offset: 0;
  outline: 0 solid var(--link-color);
  height: 34px;
  text-decoration: underline;
}

/* america with arrow*/
.text-btn .button-container a.button::after {
  top: -2px;
  margin-left: 8px;
  position: relative;
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--primary-cta);
  mask-image: url('../icons/arrow.svg');
  aspect-ratio: 1/1;
}

/*MISC -- ASK AMANDA FIRST*/
.button-nvi.trailing a.button {
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.button-nvi.trailing a.button:hover {
  color: var(--gray-bg);
}

.button-nvi.leading a.button {
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.button-nvi.leading a.button:hover {
  color: var(--gray-bg);
}

.button-nvi.leading .button-container a.button img {
  width: 16px;
  height: 16px;
  gap: 8px;
  display: flex;
}
.button-nvi.button-nvi.trailing .button-container a.button img {
  width: 16px;
  height: 16px;
  gap: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-nvi.inverse a.button {
  border: 6px solid #020409;
  background: var(--color-white);
}

.button-nvi.inverse a.button span {
  color: var(--primary-cta);
}

.button-nvi.small a.button {
  padding: 12px 24px;
  height: 43px;
  font-size: 14px;
  line-height: 19.6px;
  letter-spacing: 0.28px;
}

.button-nvi a.button.disabled {
  pointer-events: none;
}

/* Primary and Default Button */

a.button:any-link,
button {
  box-sizing: border-box;
  display: inline-flex;
  max-width: 100%;
  text-align: center;
  height: 54px;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: 800;
  line-height: 22.4px;
  text-decoration: none;
  background-color: var(--link-color);
  color: var(--background-color);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  letter-spacing: 0.32px;
  border-radius: 48px;
  font-size: 16px;
}

.primary a.button {
  background-color: #295edb;
  color: var(--color-white);
}

.primary a.button:focus {
  background-color: #295edb;
  color: var(--color-white);
  outline: 2px solid #295edb;
  outline-offset: 4px;
  border: 2px solid #295edb;
  height: 58px;
}

.primary a.button:hover {
  background-color: #1e4b8f;
}

.primary a.button.disabled,
.secondary a.button.disabled {
  background-color: var(--link-color);
  color: var(--color-white);
  opacity: 0.3;
}

.primary-variant .button-container a.button,
.primary-variant .button-container a.button:active:hover,
button.primary-variant {
  background-color: #295edb;
  color: var(--color-white);
  border-radius: 8px;
  font-size: 16px;
  line-height: 22.4px;
  letter-spacing: 0.32px;
  font-weight: 800;
  font-family: var(--body-font-family);
  display: inline-flex;
  padding: 16px 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 54px;
}

.primary-variant .button-container a.button:hover,
button.primary-variant:hover {
  background-color: #1e4b8f;
}

.secondary .button-container a.button,
button.secondary {
  background-color: unset;
  border: 2px solid var(--link-color);
  color: var(--link-color);
  height: 58px;
}

.secondary a.button:focus,
.secondary-variant a.button:focus,
button.secondary-variant:focus {
  background-color: unset;
  border: 2px solid var(--link-color);
  color: var(--link-color);
  outline: 2px solid var(--link-color);
  outline-offset: 4px;
}

.secondary-variant .button-container a.button,
.secondary-variant .button-container a.button:active:hover,
button.secondary-variant {
  background-color: unset;
  border: 2px solid var(--link-color);
  border-radius: 8px;
  color: var(--link-color);
  padding: 16px 32px;
  height: 54px;
}

.primary-variant.eyeglass .button-container a.button {
  display: inline-flex;
  padding: 16px 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #e12726;
  color: #fff;
  text-align: center;
  font-family: var(--graphik);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22.4px;
  letter-spacing: 0.32px;
  height: 54px;
}

.primary-variant.eyeglass .button-container a.button:hover {
  background-color: #ad1c22;
}

.primary-variant.eyeglass .button-container a.button.disabled {
  background-color: #e12726;
  opacity: 0.3;
}

.primary-variant.eyeglass .button-container a.button:focus {
  background-color: #e12726;
  outline: 2px solid #e12726;
}

.primary.eyeglass .button-container a.button {
  display: inline-flex;
  padding: 16px 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 54px;
  border-radius: 48px;
  background: #e12726;
  color: #fff;
  text-align: center;
  font-family: var(--graphik);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22.4px;
  letter-spacing: 0.32px;
}

.primary.vistaopt .button-container a.button {
  display: inline-flex;
  padding: 16px 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 48px;
  background: #21356e;
  height: 54px;
  color: #fff;
  text-align: center;
  font-family: var(--myriad-pro);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.4px;
  letter-spacing: 0.32px;
}

.primary-variant.vistaopt .button-container a.button {
  display: inline-flex;
  padding: 16px 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #21356e;
  color: #fff;
  text-align: center;
  font-family: var(--myriad-pro);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.4px;
  letter-spacing: 0.32px;
  height: 54px;
}

.primary-variant.vistaopt .button-container a.button:hover {
  background-color: #17254d;
}

.primary-variant.vistaopt .button-container a.button.disabled {
  background-color: #21356e;
  opacity: 0.3;
}

.primary.discountcontacts .button-container a.button {
  background-color: #1a68a8;
}

.primary-variant .button-container a.button.disabled,
button.primary-variant.disabled {
  background-color: #295edb;
  opacity: 0.3;
}

.secondary-variant .button-container a.button.disabled,
button.secondary-variant.disabled {
  opacity: 0.3;
}

.primary-variant .button-container a.button:focus,
button.primary-variant:focus {
  outline: 2px solid #295edb;
  border: 2px;
  outline-offset: 4px;
}

.secondary.eyeglass .button-container a.button,
.secondary-variant.eyeglass .button-container a.button {
  color: var(--ew-main-blue);
  border: 2px solid var(--ew-main-blue);
  font-family: var(--graphik);
  font-weight: 600;
}

.secondary .button-container .button:hover,
button.secondary:hover {
  background-color: unset;
  border: 2px solid var(--link-hover-color);
  color: var(--link-hover-color);
}

.secondary.vistaopt .button-container a.button,
.secondary-variant.vistaopt .button-container a.button {
  color: var(--vista-blue);
  border: 2px solid var(--vista-blue);
  font-family: var(--myriad-pro);
  font-weight: 400;
}

.text-btn .button-container a.button {
  background-color: unset;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 22.4px;
  letter-spacing: 0.32px;
  margin: 0;
  padding: 0;
  height: 22px;
  color: #295edb;
  overflow: visible;
}

.text-btn .button-container a.button:hover {
  border-bottom: 1px solid #1e4b8f;
  border-radius: 0;
  color: #1e4b8f;
}

.text-btn .button-container a.button.disabled {
  opacity: 0.3;
  color: #295edb;
}

.text-btn .button-container a.button:focus {
  border: 1px solid #295edb;
  border-radius: 4px;
  outline-offset: 0;
  height: 30px;
  color: #295edb;
}

.text-btn.vistaopt .button-container a.button {
  background-color: unset;
  font-family: var(--myriad-pro);
  font-size: 16px;
  font-style: normal;
  color: #21356e;
  font-weight: 400;
  line-height: 22.4px;
  letter-spacing: 0.32px;
  margin: 0;
  padding: 0;
  height: 22px;
}

.text-btn.eyeglass .button-container a.button {
  background-color: unset;
  font-family: var(--graphik);
  font-size: 16px;
  font-style: normal;
  color: #007cba;
  font-weight: 600;
  line-height: 22.4px;
  letter-spacing: 0.32px;
  height: 22px;
  border-bottom-width: 0;
  margin: 0;
  padding: 0;
}

/* 
.link-btn .button-container a.button {
    background-color: unset;
    font-family: var(--body-font-family);
    font-size: 16px;
    font-style: normal;
    color: #295EDB;
    font-weight: 800;
    line-height: 22.4px;
    letter-spacing: 0.32px;
    text-align: center;
    border-radius: 8px;
    height: 22px;
    margin: 0;
    padding: 0;

} */

/* .link-btn.vistaopt .button-container a.button {
    background-color: unset;
    font-family: var(--body-font-family);
    font-size: 16px;
    font-style: normal;
    line-height: 22.4px;
    color: #295EDB;
    font-weight: 800;
    letter-spacing: 0.32px;
    text-align: center;
    border-radius: 8px;
    height: 22px;
    margin: 0;
    padding: 0;

    } */

.secondary-variant .button-container a.button:hover,
button.secondary-variant:hover {
  background-color: unset;
  border: 2px solid var(--link-hover-color);
  color: var(--link-hover-color);
}

.primary.eyeglass .button-container a.button:hover,
button.primary:hover {
  background-color: #ad1c22;
}

.primary.eyeglass .button-container a.button:focus,
button.primary:focus {
  background-color: #e12726;
  outline: 2px solid #e12726;
  border: 2px solid #e12726;
  height: 58px;
}

@media (width <= 990px) {
  .primary.eyeglass .button-container a.button {
    color: #fff;
    text-align: center;
    font-family: var(--graphik);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 19.6px;
    letter-spacing: 0.28px;
    display: inline-flex;
    padding: 12px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 44px;
    border-radius: 48px;
    background: #e12726;
  }

  .primary.eyeglass .button-container a.button:focus,
  button.primary:focus {
    background-color: #e12726;
    outline: 2px solid #e12726;
  }
}

.primary.vistaopt .button-container a.button:hover {
  background-color: #17254d;
}

.primary.vistaopt .button-container a.button:focus {
  outline: 2px solid #21356e;
  background-color: #21356e;
  border: 0;
}

.primary-variant.vistaopt .button-container a.button:focus {
  background-color: #21356e;
  outline: 2px solid #21356e;
  outline-offset: 4px;
  border: 2px;
}

.primary.discountcontacts .button-container a.button:focus {
  background-color: #1a68a8;
  outline: 2px solid #1a68a8;
  outline-offset: 4px;
}

.primary.discountcontacts .button-container a.button:hover {
  background-color: #155387;
  border: 0;
}

button.primary:focus {
  background-color: #21356e;
  outline: 2px solid #21356e;
  outline-offset: 4px;
  border: 2px;
}

@media (width <= 990px) {
  .primary a.button,
  .secondary a.button {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: 19.6px;
    letter-spacing: 0.28px;
    padding: 12px 24px;
    border-radius: 48px;
    height: 44px;
  }

  .primary a.button {
    background-color: #295edb;
  }

  .primary a.button:focus {
    height: 48px !important;
  }

  .secondary .button-container a.button,
  button.secondary {
    height: 48px !important;
  }
}

/* Primary Variant Button */
@media (width <= 990px) {
  .primary-variant .button-container a.button,
  .secondary-variant .button-container a.button,
  button.primary-variant,
  button.secondary-variant {
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: 19.6px;
    letter-spacing: 0.28px;
    display: inline-flex;
    padding: 12px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 44px;
    border-radius: 8px;
  }

  .primary-variant .button-container a.button.disabled,
  button.primary-variant.disabled {
    background-color: #295edb;
    color: var(--color-white);
    opacity: 0.3;
  }

  .primary-variant .button-container a.button:focus,
  button.primary-variant:focus {
    background-color: #295edb;
  }

  .primary-variant .button-container a.button:hover,
  button.primary-variant:hover {
    background-color: #1e4b8f;
  }
}

/* Secondary Button */

a.button.secondary.disabled,
button.secondary.disabled {
  background-color: unset;
  border: 2px solid var(--link-color);
  color: var(--link-color);
  opacity: 0.3;
}

.secondary.eyeglass .button-container .button:hover,
button.secondary:hover,
.secondary-variant.eyeglass .button-container a.button:hover {
  background-color: unset;
  border: 2px solid var(--link-hover-color);
  color: var(--link-hover-color);
}

.secondary.eyeglass .button-container .button:focus,
button.secondary:focus,
.secondary-variant.eyeglass .button-container a.button:focus {
  border: 2px solid var(--ew-main-blue);
  outline: 2px solid var(--ew-main-blue);
}

.secondary.vistaopt .button-container .button:hover,
button.secondary:hover,
.secondary-variant.vistaopt .button-container a.button:hover {
  border: 2px solid #17254d;
  color: #17254d;
}

.secondary.vistaopt .button-container .button:focus,
button.secondary:focus,
.secondary-variant.vistaopt .button-container a.button:focus {
  border: 2px solid var(--vista-blue);
  outline: 2px solid var(--vista-blue);
  height: 58px;
}

@media (width<= 900px) {
  a.button.secondary,
  button.secondary {
    padding: 12px 16px;
  }
}

/* Text Button */
@media (width <= 990px) {
  .text-btn .button-container a.button {
    color: #295edb;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: 19.6px;
    letter-spacing: 0.28px;
    height: 22px;
    margin: 0;
    padding: 0;
    outline-offset: 0;
  }

  .text-btn .button-container a.button:hover {
    color: #1e4b8f;
    border-bottom: 1px solid #1e4b8f;
  }

  .text-btn .button-container a.button.disabled {
    color: #295edb;
    opacity: 0.3;
  }

  .text-btn .button-container a.button:focus {
    color: #295edb;
    border-radius: 4px;
    border: 1px solid #295edb;
    height: 30px;
  }
}

/* .link-btn .button-container a.button {
    background-color: unset;
    color: var(--link-color);
    padding: 0;
} */

/* .link-btn .button-container a.button:hover {
    background-color: unset;
    color: var(--link-hover-color);
    border-bottom: 2px solid var(--link-hover-color);
} */

/* .link-btn .button-container a.button.disabled {
    background-color: unset;
    color: var(--link-color);
    opacity: 0.3;
} */

.link-btn .button-container a.button:focus {
  background-color: unset;
  border-radius: 8px;
  color: var(--link-color);
  padding: 4px;
  border: 2px solid var(--link-color);
  outline-offset: 0;
  outline: 0 solid var(--link-color);
  height: 34px;
  text-decoration: underline;
}

/* text button */

/* america */
.text-btn .button-container a.button::after {
  top: -2px;
  margin-left: 8px;
  position: relative;
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #295edb;
  mask-image: url('../icons/arrow.svg');
  aspect-ratio: 1/1;
}

.text-btn .button-container a.button:hover::after {
  background-color: #1e4b8f;
}

.text-btn .button-container a.button.disabled::after {
  background-color: #295edb;
}

.text-btn .button-container a.button:focus::after {
  background-color: #295edb;
}

/* vista */
.text-btn.vistaopt .button-container a.button::after {
  background-image: url('../icons/arrow.svg');
  margin-left: 8px;
}

.text-btn.vistaopt .button-container a.button:hover {
  color: #17254d;
  border-bottom: 1px solid #17254d;
  border-radius: 0;
  height: 23px;
}

.text-btn.eyeglass .button-container a.button::after {
  top: 1px;
  margin-left: 8px;
  position: relative;
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #007cba;
  mask-image: url('../icons/arrow.svg');
  aspect-ratio: 1/1;
}

.text-btn.vistaopt .button-container a.button:hover::after {
  background-color: #17254d;
}

.text-btn.vistaopt .button-container a.button.disabled {
  opacity: 0.3;
}

.text-btn.vistaopt .button-container a.button.disabled::after {
  background-color: #21356e;
}

.text-btn.vistaopt .button-container a.button:focus {
  border: 1px solid #21356e;
  border-radius: 4px;
  height: 32px;
  outline: 0 solid var(--link-color);
  outline-offset: 0;
}

.text-btn.vistaopt .button-container a.button:focus::after {
  background-color: #21356e;
}

/* eyeglass */

.text-btn.eyeglass .button-container a.button:hover {
  border-bottom: 1px solid #006395;
  border-radius: 0;
  color: #006395;
  height: 23px;
}

.text-btn.eyeglass .button-container a.button:hover::after {
  background-color: #006395;
  width: 12px;
  height: 12px;
  aspect-ratio: 1/1;
}

.text-btn.eyeglass .button-container a.button.disabled {
  opacity: 0.3;
}

.text-btn.eyeglass .button-container a.button.disabled::after {
  background-color: #007cba;
  width: 12px;
  height: 12px;
  aspect-ratio: 1/1;
}

.text-btn.eyeglass .button-container a.button:focus {
  height: 32px;
  outline-offset: 1px;
  border-radius: 4px;
  border: 1px solid #007cba;
  outline: 2px;
}

.text-btn.eyeglass .button-container a.button:focus::after {
  background-color: #007cba;
  width: 12px;
  height: 12px;
  aspect-ratio: 1/1;
}

/* Link btn  eyeglass */
.link-btn.eyeglass .button-container a.button {
  background-color: unset;
  font-family: var(--graphik);
  font-size: 16px;
  font-style: normal;
  line-height: 22.4px;
  color: #007cba;
  font-weight: 600;
  letter-spacing: 0.32px;
  text-align: center;
  height: 22px;
  margin: 0;
  padding: 0;
  border-radius: 8px;
}

.link-btn.eyeglass .button-container a.button:hover {
  border-bottom: 1px solid #006395;
  border-radius: 0;
  height: 23px;
}

.link-btn.eyeglass .button-container a.button.disabled {
  opacity: 0.3;
  border-radius: 8px;
}

.link-btn.eyeglass .button-container a.button:focus {
  border-radius: 8px;
  outline-offset: 2px;
  padding: 4px;
  border: 2px solid #007cba;
  height: 34px;
  outline: 0;
}

.link-btn.eyeglass .button-container a.button:active {
  border-bottom: 2px solid #007cba;
  border-radius: 0;
}

/* ameracias */

.link-btn .button-container a.button {
  background-color: unset;
  font-family: var(--body-font-family);
  font-size: 16px;
  font-style: normal;
  color: #295edb;
  font-weight: 800;
  line-height: 22.4px;
  letter-spacing: 0.32px;
  text-align: center;
  border-radius: 8px;
  height: 22px;
  margin: 0;
  padding: 0;
}

.link-btn .button-container a.button:hover {
  border-bottom: 1px solid #1e4b8f;
  border-radius: 0;
  color: var(--link-hover-color);
}

.link-btn .button-container a.button.disabled {
  opacity: 0.3;
  border-radius: 8px;
}

/* vista */

.link-btn.vistaopt .button-container a.button {
  background-color: unset;
  font-family: var(--myriad-pro);
  font-size: 16px;
  font-style: normal;
  color: #21356e;
  font-weight: 400;
  letter-spacing: 0.32px;
  border-radius: 0;
  text-align: center;
  line-height: 22.4px;
  height: 22px;
}

.link-btn.vistaopt .button-container a.button:hover {
  border-bottom: 1px solid #17254d;
  line-height: 19.6px;
}

.link-btn.vistaopt .button-container a.button.disabled {
  opacity: 0.3;
  border-radius: 8px;
}

.link-btn.vistaopt .button-container a.button:focus {
  border-radius: 8px;
  border: 2px solid #21356e;
  padding: 4px;
  outline: 2px;
  outline-offset: 0;
  height: 34px !important;
}

/* vista */
@media (width <= 990px) {
  .text-btn.vistaopt .button-container a.button {
    color: #21356e;
    font-family: var(--myriad-pro);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.6px;
    letter-spacing: 0.28px;
    height: 22px;
    margin: 0;
    padding: 0;
  }

  .text-btn.vistaopt .button-container a.button:hover {
    color: #17254d;
    border-bottom: 1px solid #17254d;
  }

  .text-btn.vistaopt .button-container a.button.disabled {
    color: #21356e;
    opacity: 0.3;
  }

  .text-btn.vistaopt .button-container a.button:focus {
    color: #21356e;
    border-radius: 4px;
    height: 32px;
    border: 1px solid #21356e;
  }
}

/* eye */

@media (width <= 990px) {
  .text-btn.eyeglass .button-container a.button {
    color: #007cba;
    font-family: var(--graphik);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 19.6px;
    letter-spacing: 0.28px;
    height: 22px;
    margin: 0;
    padding: 0;
  }

  .text-btn.eyeglass .button-container a.button:hover {
    border-bottom: 1px solid #006395;
  }

  .text-btn.eyeglass .button-container a.button.disabled {
    color: #007cba;
    opacity: 0.3;
  }

  .text-btn.eyeglass .button-container a.button:focus {
    color: #007cba;
    border-radius: 4px;
    border: 1px solid #007cba;
    height: 32px;
  }
}

/* link- america */
@media (width <= 990px) {
  .link-btn .button-container a.button {
    color: #295edb;
    text-align: center;
    font-family: var(--body-font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: 19.6px;
    letter-spacing: 0.28px;
    height: 20px;
    margin: 0;
    padding: 0;
  }

  .link-btn .button-container a.button:active {
    border-bottom: 2px solid #295edb;
  }

  .link-btn .button-container a.button:hover {
    color: #1e4b8f;
    border-bottom: 1px solid #1e4b8f;
  }

  .link-btn .button-container a.button.disabled {
    color: #295edb;
    opacity: 0.3;
    border-radius: 8px;
    line-height: 19.6px;
  }

  .link-btn .button-container a.button:focus {
    color: #295edb;
    border-radius: 8px;
    border: 2px solid #295edb;
  }
}

/* vista */

@media (width <= 990px) {
  .link-btn.vistaopt .button-container a.button {
    color: #21356e;
    text-align: center;
    font-family: var(--myriad-pro);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.6px;
    letter-spacing: 0.28px;
    height: 20px;
    margin: 0;
    padding: 0;
  }

  .link-btn.vistaopt .button-container a.button:hover {
    color: #17254d;
    border-bottom: 1px solid #17254d;
    height: 21px;
  }

  .link-btn.vistaopt .button-container a.button.disabled {
    color: #295edb;
    opacity: 0.3;
    border-radius: 8px;
    line-height: 19.6px;
  }

  .link-btn.vistaopt .button-container a.button:focus {
    color: #21356e;
    border: 2px solid #21356e;
    border-radius: 8px;
    padding: 4px;
    height: 32px !important;
  }
}

/* eye */

@media (width <= 990px) {
  .link-btn.eyeglass .button-container a.button {
    color: #007cba;
    text-align: center;
    font-family: var(--graphik);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 19.6px;
    letter-spacing: 0.28px;
    height: 20px;
  }

  .link-btn.eyeglass .button-container a.button:active {
    border-bottom: 2px solid #007cba;
    border-radius: 0;
  }

  .link-btn.eyeglass .button-container a.button:hover {
    color: #006395;
    border-bottom: 1px solid #006395;
  }

  .link-btn.eyeglass .button-container a.button.disabled {
    color: #295edb;
    opacity: 0.3;
    border-radius: 8px;
  }

  .link-btn.eyeglass .button-container a.button:focus {
    border-radius: 8px;
    border: 2px solid #007cba;
    padding: 4px;
    outline: 2px;
    height: 32px;
  }
}

@media (width <= 990px) {
  .primary-variant.eyeglass .button-container a.button {
    display: inline-flex;
    padding: 12px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #e12726;
    color: #fff;
    text-align: center;
    font-family: var(--graphik);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 19.6px;
    letter-spacing: 0.28px;
    height: 44px;
  }

  .primary-variant.eyeglass .button-container a.button.disabled {
    background-color: #e12726;
    opacity: 0.3;
  }

  .primary-variant.eyeglass .button-container a.button:focus {
    background: #e12726;
    outline: 2px solid #e12726;
  }
}

@media (width <= 990px) {
  .primary.vistaopt .button-container a.button {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--myriad-pro);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.4px;
    letter-spacing: 0.28px;
    padding: 12px 24px;
    border-radius: 48px;
    background: #21356e;
    height: 44px;
  }

  .primary.vistaopt .button-container a.button:hover {
    background-color: #17254d;
  }

  .primary.vistaopt .button-container a.button.disabled {
    background-color: #21356e;
    opacity: 0.3;
  }

  .primary.vistaopt .button-container a.button:focus {
    background-color: #21356e;
    outline: 0;
    outline: 2px solid #21356e;
    height: 44px !important;
  }
}

@media (width <= 990px) {
  .primary-variant.vistaopt .button-container a.button {
    display: inline-flex;
    padding: 12px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #21356e;
    color: #fff;
    text-align: center;
    font-family: var(--myriad-pro);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.6px;
    letter-spacing: 0.28px;
    height: 44px;
  }

  .primary-variant.vistaopt .button-container a.button.disabled {
    background-color: #21356e;
    opacity: 0.3;
  }

  .primary-variant.vistaopt .button-container a.button:hover {
    background-color: #17254d;
  }

  .secondary-variant .button-container a.button,
  button.secondary-variant {
    height: 44px;
  }
}

.button-nvi.trailing a.button {
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.button-nvi.trailing a.button:hover {
  color: #e4e4e4;
}

.button-nvi.leading a.button {
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.button-nvi.leading a.button:hover {
  color: #e4e4e4;
}

.button-nvi.leading .button-container a.button img {
  width: 16px;
  height: 16px;
  gap: 8px;
  display: flex;
}

.button-nvi.vistaopt.leading a.button {
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  align-items: center;
  background-color: #14315b;
  color: var(--color-white);
}

.button-nvi.vistaopt.leading .button-container a.button img {
  width: 16px;
  height: 16px;
  gap: 8px;
  display: flex;
}

.button-nvi.button-nvi.trailing .button-container a.button img {
  width: 16px;
  height: 16px;
  gap: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-nvi.inverse a.button {
  border: 6px solid #020409;
  background: #fff;
}

.button-nvi.inverse a.button span {
  color: #295edb;
}

.button-nvi.small a.button {
  padding: 12px 24px;
  height: 43px;
  font-size: 14px;
  line-height: 19.6px;
  letter-spacing: 0.28px;
}

/* AMERICAS  */
.iblack.primary .button-container a.button {
  background-color: #fff;
  color: #295edb;
}

.iblack.primary .button-container a.button:hover {
  background-color: #e4e4e4;
}

.iblack.primary .button-container a.button:focus {
  background-color: #fff;
  outline: 2px solid #fff;
  outline-offset: 4px;
  border: 2px solid #1c1818;
  height: 58px;
}

.iblack.primary .button-container a.button.disabled {
  background-color: #fff;
  color: #295edb;
  opacity: 0.3;
}

@media (width <= 990px) {
  .iblack.primary .button-container a.button {
    background-color: #fff;
    color: #295edb;
  }

  .iblack.primary .button-container a.button:hover {
    background-color: #e4e4e4;
  }

  .iblack.primary .button-container a.button:focus {
    background-color: #fff;
    outline: 2px solid #fff;
    outline-offset: 4px;
    border: 2px solid #1c1818;
  }

  .iblack.primary .button-container a.button.disabled {
    background-color: #fff;
    color: #295edb;
    opacity: 0.3;
  }
}

.iblack.secondary .button-container a.button {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
}

.iblack.secondary .button-container a.button:hover {
  color: #e4e4e4;
  border: 2px solid #e4e4e4;
}

.iblack.secondary .button-container a.button:focus {
  outline: 2px solid #fff;
  outline-offset: 4px;
  border: 2px solid #fff;
  height: 58px;
}

.iblack.secondary .button-container a.button.disabled {
  background-color: transparent;
  opacity: 0.3;
}

@media (width <= 990px) {
  .iblack.secondary .button-container a.button {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
  }

  .iblack.secondary .button-container a.button:hover {
    background-color: transparent;
  }

  .iblack.secondary .button-container a.button:focus {
    background-color: transparent;
    outline: 2px solid #fff;
    outline-offset: 4px;
    border: 2px solid #fff;
    height: 58px;
  }

  .iblack.secondary .button-container a.button.disabled {
    background-color: transparent;
    opacity: 0.3;
  }
}

.iblack.primary-variant .button-container a.button {
  background-color: #fff;
  color: #295edb;
}

.iblack.primary-variant .button-container a.button:hover {
  background-color: #e4e4e4 !important;
}

.iblack.primary-variant .button-container a.button:focus {
  background-color: #fff;
  outline: 2px solid #fff;
  outline-offset: 4px;
  border: 2px solid #1c1818;
  height: 58px;
}

.iblack.primary-variant .button-container a.button.disabled {
  background-color: #fff;
  color: #295edb;
  opacity: 0.3;
}

@media (width <= 990px) {
  .iblack.primary-variant .button-container a.button {
    background-color: #fff;
    color: #295edb;
  }

  .iblack.primary-variant .button-container a.button:hover {
    background-color: #e4e4e4;
  }

  .iblack.primary-variant .button-container a.button:focus {
    background-color: #fff;
    outline: 2px solid #fff;
    outline-offset: 4px;
    border: 2px solid #1c1818;
  }

  .iblack.primary-variant .button-container a.button.disabled {
    background-color: #fff;
    color: #295edb;
    opacity: 0.3;
  }
}

.iblack.secondary-variant .button-container a.button {
  background-color: transparent !important;
  color: #fff !important;
  border: 2px solid #fff !important;
}

.iblack.secondary-variant .button-container a.button:hover {
  color: #e4e4e4 !important;
  border: 2px solid #e4e4e4 !important;
}

.iblack.secondary-variant .button-container a.button:focus {
  background-color: transparent;
  outline: 2px solid #fff;
  outline-offset: 4px;
  border: 2px solid #fff;
  height: 58px;
}

.iblack.secondary-variant .button-container a.button.disabled {
  background-color: transparent;
  opacity: 0.3;
}

@media (width <= 990px) {
  .iblack.secondary-variant .button-container a.button {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
  }

  .iblack.secondary-variant .button-container a.button:hover {
    background-color: transparent;
  }

  .iblack.secondary-variant .button-container a.button:focus {
    background-color: transparent;
    outline: 2px solid #fff;
    outline-offset: 4px;
    border: 2px solid #fff;
    height: 58px;
  }

  .iblack.secondary-variant .button-container a.button.disabled {
    background-color: transparent;
    opacity: 0.3;
  }
}

.iblack.text-btn .button-container a.button {
  color: #fff;
}

.iblack.text-btn .button-container a.button:hover {
  border-bottom: 1px solid #fff;
  border-radius: 0;
  color: #e4e4e4;
}

.iblack.text-btn .button-container a.button.disabled {
  opacity: 0.3;
  color: #e4e4e4;
}

.iblack.text-btn .button-container a.button:focus {
  border: 1px solid #fff;
  border-radius: 4px;
  outline-offset: 0;
  outline: 0;
  height: 30px;
  color: #fff;
}

.iblack.text-btn .button-container a.button::after {
  background-color: #fff;
}

.iblack.text-btn .button-container a.button:hover::after {
  background-color: #fff;
}

.iblack.text-btn .button-container a.button.disabled::after {
  background-color: #fff;
}

.iblack.text-btn .button-container a.button:focus::after {
  background-color: #fff;
}

@media (width <= 990px) {
  .iblack.text-btn .button-container a.button {
    color: #fff;
    font-family: var(--body-font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: 19.6px;
    letter-spacing: 0.28px;
    height: 22px;
    margin: 0;
    padding: 0;
  }

  .iblack.text-btn .button-container a.button:hover {
    color: #e4e4e4;
    border-bottom: 1px solid #fff;
  }

  .iblack.text-btn .button-container a.button.disabled {
    color: #fff;
    opacity: 0.3;
  }

  .iblack.text-btn .button-container a.button:focus {
    color: #fff;
    border-radius: 4px;
    height: 32px;
    border: 1px solid #fff;
  }
}

.iblack.link-btn .button-container a.button {
  color: #fff;
}

.iblack.link-btn .button-container a.button:hover {
  border-bottom: 1px solid #fff;
  border-radius: 0;
  color: #e4e4e4;
}

.iblack.link-btn .button-container a.button.disabled {
  opacity: 0.3;
  border-radius: 8px;
}

.iblack.link-btn .button-container a.button:focus {
  border-radius: 8px;
  outline-offset: 2px;
  padding: 4px;
  border: 2px solid #fff;
  height: 34px;
  outline: 0 solid #fff;
}

.iblack.link-btn .button-container a.button:active {
  border-bottom: 2px solid #fff;
  border-radius: 0;
}

@media (width <= 990px) {
  .iblack.link-btn .button-container a.button {
    color: #fff;
  }

  .iblack.link-btn .button-container a.button:hover {
    color: #e4e4e4;
    border-bottom: 1px solid #fff;
  }

  .iblack.link-btn .button-container a.button.disabled {
    color: #fff;
    opacity: 0.3;
    border-radius: 8px;
  }

  .iblack.link-btn .button-container a.button:focus {
    color: #fff;
    border-radius: 8px;
    border: 2px solid #fff;
  }
}

/* vista */
.iblack.primary.vistaopt .button-container a.button {
  background-color: #fff;
  color: #21356e;
}

.iblack.primary.vistaopt .button-container a.button:hover {
  background-color: #e4e4e4;
}

.iblack.primary.vistaopt .button-container a.button:focus {
  background-color: #fff;
  outline: 2px solid #fff;
  border: 2px solid #1c1818;
}

.iblack.primary.vistaopt .button-container a.button.disabled {
  background-color: #fff;
  opacity: 0.3;
}

.iblack.secondary.vistaopt .button-container a.button {
  color: #fff;
}

@media (width <= 990px) {
  .iblack.primary.vistaopt .button-container a.button {
    background-color: #fff;
    color: #21356e;
  }

  .iblack.primary.vistaopt .button-container a.button:hover {
    background-color: #e4e4e4;
  }

  .iblack.primary.vistaopt .button-container a.button:focus {
    background-color: #fff;
    outline: 2px solid #fff;
    height: 48px !important;
  }

  .iblack.primary.vistaopt .button-container a.button.disabled {
    background-color: #fff;
    opacity: 0.3;
  }
}

.iblack.primary-variant.vistaopt .button-container a.button {
  background-color: #fff;
  color: #21356e;
}

@media (width <= 990px) {
  .iblack.primary-variant.vistaopt .button-container a.button:focus {
    background-color: #fff;
    color: #21356e;
    height: 48px !important;
  }
}

@media (width <= 990px) {
  .iblack.secondary-variant .button-container a.button:focus {
    background-color: #fff;
    color: #21356e;
    height: 48px !important;
  }
}

@media (width <= 990px) {
  .iblack.text-btn.vistaopt .button-container a.button {
    color: #fff;
    font-family: var(--myriad-pro);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.6px;
    letter-spacing: 0.28px;
    height: 22px;
    margin: 0;
    padding: 0;
  }
}

.iblack.text-btn.vistaopt .button-container a.button::after {
  color: #fff;
  border-bottom: 1px solid #fff;
}

/* eyeglass */
.iblack.primary.eyeglass .button-container a.button {
  background-color: #fff;
  color: #e12726;
}

.iblack.primary.eyeglass .button-container a.button:hover {
  background-color: #e4e4e4;
}

.iblack.primary.eyeglass .button-container a.button:focus {
  background-color: #fff;
  outline: 2px solid #fff;
  outline-offset: 4px;
  border: 2px solid #1c1818;
  height: 58px;
}

.iblack.primary.eyeglass .button-container a.button.disabled {
  background-color: #fff;
  color: #e12726;
  opacity: 0.3;
}

@media (width <= 990px) {
  .iblack.primary.eyeglass .button-container a.button {
    background-color: #fff;
    color: #e12726;
  }

  .iblack.primary.eyeglass .button-container a.button:hover {
    background-color: #e4e4e4;
  }

  .iblack.primary.eyeglass .button-container a.button:focus {
    background-color: #fff;
    outline: 2px solid #fff;
    outline-offset: 4px;
    border: 2px solid #1c1818;
    height: 58px;
  }

  .iblack.primary.eyeglass .button-container a.button.disabled {
    background-color: #fff;
    color: #e12726;
    opacity: 0.3;
  }
}

.iblack.secondary.eyeglass .button-container .button:hover {
  background-color: transparent;
  outline: 2px solid #fff;
  border: 2px solid #1c1818;
  color: #fff;
}

.iblack.primary-variant.eyeglass .button-container a.button {
  background-color: #fff;
  color: #e12726;
}

.iblack.primary-variant.eyeglass .button-container a.button:hover {
  background-color: #e4e4e4;
}

.iblack.primary-variant.eyeglass .button-container a.button:focus {
  background-color: #fff;
  outline: 2px solid #fff;
  outline-offset: 4px;
  border: 2px solid #1c1818;
  height: 58px;
}

.iblack.primary-variant.eyeglass .button-container a.button.disabled {
  background-color: #fff;
  color: #e12726;
  opacity: 0.3;
}

@media (width <= 990px) {
  .iblack.primary-variant.eyeglass .button-container a.button {
    background-color: #fff;
    color: #e12726;
  }

  .iblack.primary-variant.eyeglass .button-container a.button:hover {
    background-color: #e4e4e4;
  }

  .iblack.primary-variant.eyeglass .button-container a.button:focus {
    background-color: #fff;
    outline: 2px solid #fff;
    outline-offset: 4px;
    border: 2px solid #1c1818;
    height: 58px;
  }

  .iblack.primary-variant.eyeglass .button-container a.button.disabled {
    background-color: #fff;
    color: #e12726;
    opacity: 0.3;
  }
}
