@import url('./styles.css');
.eyeglassworld {
  --primary-cta: #E12726;
  --primary-cta-hover: #AD1C22;
  --selected: #003E5E;
  --secondary-cta: #007CBA;
  --secondary-cta-hover: #006395;
  --link-color: #007CBA;
  --link-hover-color: #006395;
  --deativated: #57C5C5;
  --deactivated-secondary: #BBDCEC;
  --lightest: #E12726;


  --primary-color1: ##E12726;
  --primary-color2: #007CBA;
  --primary-color3: #58595B;
  --secondary-color1: #6BA43A;
  --secondary-color2: #FF4D00;
  --secondary-color3: #7B6756;
  --secondary-color4: #FF9900;

  --font-family: 'Graphik-Regular', roboto, roboto-fallback, sans-serif;
}