@font-face {
  font-family: Outerfit-Reg;
  font-display: swap;
  font-style: normal;
  src: url('../fonts/Outfit-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Outerfit-Medium;
  font-display: swap;
  font-style: normal;
  src: url('../fonts/Outfit-Medium.ttf') format('truetype');
}

@font-face {
  font-family: Outerfit-Bold;
  font-display: swap;
  font-style: normal;
  src: url('../fonts/Outfit-Bold.ttf') format('truetype');
}
