@font-face {
  font-family: Gilroy-Black;
  font-display: swap;
  font-style: normal;
  src: url('../fonts/Gilroy-Black.otf') format('opentype'); 
}

@font-face {
font-display: swap;
font-style: normal;
font-family: Gilroy-Bold;
src: url('../fonts/Gilroy-Bold.otf') format('opentype'); 
}


@font-face {
font-family: Gilroy-Medium;
font-display: swap;
font-style: normal;
src: url('../fonts/Gilroy-Medium.otf') format('opentype'); 
}

@font-face {
font-display: swap;
font-style: normal; 
font-family: Gilroy-Regular;
src: url('../fonts/Gilroy-Regular.otf') format('opentype'); 
}

@font-face {
  font-family: Gilroy-light;
  font-display: swap;
  font-style: normal;
 src: url('../fonts/Gilroy-Light.otf') format('opentype'); 
 }

@font-face {
  font-family: Gilroy-light;
  font-display: swap;
  src: url('../fonts/Gilroy-Light.otf') format('opentype'); 

}

@font-face {
  font-family: Gilroy-lightItalic;
  font-display: swap;
  font-style: italic;
  src: url('../fonts/Gilroy-LightItalic.otf') format('opentype'); 
}

@font-face {
  font-family: Gilroy-MediumItalic;
  font-display: swap;
  font-style: italic;
  src: url('../fonts/Gilroy-MediumItalic.otf') format('opentype'); 
}

@font-face {
  font-family: Gilroy-RegularItalic;
  font-display: swap;
  font-style: italic;
  src: url('../fonts/Gilroy-RegularItalic.otf') format('opentype'); 
}

@font-face {
  font-family: Gilroy-semibold;
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: url('../fonts/Gilroy-SemiBold.otf') format('opentype'); 
}

@font-face {
  font-family: Gilroy-semiboldItalic;
  font-display: swap;
  font-style: italic;
  src: url('../fonts/Gilroy-SemiBoldItalic.otf') format('opentype'); 
}

@font-face {
  font-family: Gilroy-Thin;
  font-display: swap;
  font-style: normal;
  src: url('../fonts/Gilroy-Thin.otf') format('opentype'); 
}

@font-face {
  font-family: Gilroy-ThinItalic;
  font-display: swap;
  font-style: italic;
  src: url('../fonts/Gilroy-ThinItalic.otf') format('opentype'); 
}

@font-face {
  font-family: Gilroy-UltraLight;
  font-display: swap;
  font-style: normal;
  src: url('../fonts/Gilroy-UltraLight.otf') format('opentype'); 
}

@font-face {
  font-family: Gilroy-UltraLightItalic;
  font-display: swap;
  font-style: italic;
  src: url('../fonts/Gilroy-UltraLightItalic.otf') format('opentype'); 
}

@font-face {
  font-family: Gilroy-UltraLightItalic;
  font-display: swap;
  font-style: italic;
  src: url('../fonts/Gilroy-UltraLightItalic.otf') format('opentype'); 
}

@font-face {
  font-family: AvenirLTPro-Black;
  font-display: swap;
  font-style: normal;
  src: url('../fonts/Linotype-AvenirLTPro-Black.otf') format('opentype'); 
}

@font-face {
  font-family: AvenirLTPro-BlackOblique;
  font-display: swap;
  font-style: oblique;
  src: url('../fonts/Linotype-AvenirLTPro-BlackOblique.otf') format('opentype'); 
}

@font-face {
  font-family: AvenirLTPro-Book;
  font-display: swap;
  font-style: normal;
  src: url('../fonts/Linotype-AvenirLTPro-Book.otf') format('opentype'); 
}  

@font-face {
  font-family: AvenirLTPro-BookOblique;
  font-display: swap;
  font-style: oblique;
  src: url('../fonts/Linotype-AvenirLTPro-BookOblique.otf') format('opentype'); 
}

@font-face {
  font-family: AvenirLTPro-Heavy;
  font-display: swap;
  font-style: normal;
  src: url('../fonts/Linotype-AvenirLTPro-Heavy.otf') format('opentype'); 
}    

@font-face {
  font-family: AvenirLTPro-HeavyOblique;
  font-display: swap;
  font-style: oblique;
  src: url('../fonts/Linotype-AvenirLTPro-HeavyOblique.otf') format('opentype'); 
} 

@font-face {
  font-family: AvenirLTPro-Light;
  font-display: swap;
  font-style: normal;
  src: url('../fonts/Linotype-AvenirLTPro-Light.otf') format('opentype'); 
}

@font-face {
  font-family: AvenirLTPro-LightOblique;
  font-display: swap;
  font-style: oblique;
  src: url('../fonts/Linotype-AvenirLTPro-LightOblique.otf') format('opentype'); 
} 

@font-face {
  font-family: AvenirLTPro-Medium;
  font-display: swap;
  font-style: normal;
  src: url('../fonts/Linotype-AvenirLTPro-Medium.otf') format('opentype'); 
}

@font-face {
  font-family: AvenirLTPro-MediumOblique;
  font-display: swap;
  font-style: oblique;
  src: url('../fonts/Linotype-AvenirLTPro-MediumOblique.otf') format('opentype'); 
}

@font-face {
  font-family: AvenirLTPro-Oblique;
  font-display: swap;
  font-style: oblique;
  src: url('../fonts/Linotype-AvenirLTPro-Oblique.otf') format('opentype'); 
}

@font-face {
  font-family: AvenirLTPro-Roman;
  font-display: swap;
  font-style: italic;
  src: url('../fonts/Linotype-AvenirLTPro-Roman.otf') format('opentype'); 
}

@font-face {
  font-family: Graphik-Black;
  font-display: swap;
  font-style: normal;
  src: url('../fonts/Graphik-Black.ttf') format('truetype'); 
}
 
@font-face {
  font-family: Graphik-BlackItalic;
  font-display: swap;
  font-style: italic;
  src: url('../fonts/Graphik-BlackItalic.ttf') format('truetype'); 
}

@font-face {
  font-family: Graphik-Bold;
  font-display: swap;
  font-style: normal;
  src: url('../fonts/Graphik-Bold.ttf') format('truetype'); 
}

@font-face {
  font-family: Graphik-BoldItalic;
  font-display: swap;
  font-style: italic;
  src: url('../fonts/Graphik-BoldItalic.ttf') format('truetype'); 
}

@font-face {
  font-family: Graphik-Medium;
  font-display: swap;
  font-style: normal;
  src: url('../fonts/Graphik-Medium.ttf') format('truetype'); 

}

@font-face {
  font-family: Graphik-MediumItalic;
  font-display: swap;
  font-style: italic;
  src: url('../fonts/Graphik-MediumItalic.ttf') format('truetype'); 
}

@font-face {
  font-family: Graphik-Regular;
  font-display: swap;
  font-style: normal;
  src: url('../fonts/Graphik-Regular.ttf') format('truetype'); 
}

@font-face {
  font-family: Graphik-RegularItalic;
  font-display: swap;
  font-style: italic;
  src: url('../fonts/Graphik-RegularItalic.ttf') format('truetype'); 
}

@font-face {
  font-family: Graphik-Semibold;
  font-display: swap;
  font-style: normal;
  src: url('../fonts/Graphik-Semibold.ttf') format('truetype'); 
}

@font-face {
  font-family: Graphik-SemiboldItalic;
  font-display: swap;
  font-style: italic;
  src: url('../fonts/Graphik-SemiboldItalic.ttf') format('truetype'); 
}

@font-face {
  font-family: Graphik-semibold;
  font-display: swap;
  font-style: normal;
  src: url('../fonts/Graphik-Semibold.ttf') format('truetype'); 
}

@font-face {
  font-family: Graphik-semiboldItalic;
  font-display: swap;
  font-style: italic;
  src: url('../fonts/Graphik-SemiboldItalic.ttf') format('truetype'); 
}

@font-face {
  font-family: MYRIADPRO-BOLD;
  font-display: swap;
  font-style: normal;
  src: url('../fonts/MYRIADPRO-BOLD.OTF') format('opentype'); 
}

@font-face {
  font-family: MYRIADPRO-BOLDCOND;
  font-display: swap;
  font-style: normal;
  src: url('../fonts/MYRIADPRO-BOLDCOND.OTF') format('opentype'); 
}

@font-face {
  font-family: MYRIADPRO-BOLDCONDIT;
  font-display: swap;
  font-style: normal;
  src: url('../fonts/MYRIADPRO-BOLDCONDIT.OTF') format('opentype'); 
}

@font-face {
  font-family: MYRIADPRO-BOLDIT;
  font-display: swap;
  font-style: normal;
  src: url('../fonts/MYRIADPRO-BOLDIT.OTF') format('opentype'); 
}

@font-face {
  font-family: MYRIADPRO-COND; 
  font-display: swap; 
  font-style: normal;
  src: url('../fonts/MYRIADPRO-COND.OTF');
}

@font-face {
  font-family: MYRIADPRO-CONDIT; 
  font-display: swap; 
  font-style: normal;
  src: url('../fonts/MYRIADPRO-CONDIT.OTF');
}

@font-face {
  font-family: MYRIADPRO-REGULAR; 
  font-display: swap; 
  font-style: normal;
  src: url('../fonts/MYRIADPRO-REGULAR.OTF');
}

@font-face {
  font-family: MYRIADPRO-SEMIBOLD; 
  font-display: swap; 
  font-style: normal;
  src: url('../fonts/MYRIADPRO-SEMIBOLD.OTF');
}

@font-face {
  font-family: MYRIADPRO-SEMIBOLDIT; 
  font-display: swap; 
  font-style: normal;
  src: url('../fonts/MYRIADPRO-SEMIBOLDCIT.OTF');
}