/* stylelint-disable CssSyntaxError */
/* stylelint-disable value-keyword-case */

/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

 :root {
  /* colors */
  --background-color: white;
  --light-color: #f8f8f8;
  --dark-color: #505050;
  --text-color: #131313;
  --link-color: #295edb;
  --link-hover-color: #1e4b8f;
  --gray-bg: #E4E4E4;

  /* Americas color */

  --primary-color1: #2459a9;
  --primary-color2: #ed1c24;
  --secondary-color1: #1a6f7b;
  --secondary-color2: #015039;
  --secondary-color3: #f76523;
  --secondary-color4: #faa82d;
  --feedback-color1: #ffc400;
  --feedback-color2: #036131;
  --feedback-color3: #ce001f;

  /* eyeglass color */
  --ew-main-blue: #007cba;
  --ew-main-red: #e12726;
  --ew-main-gray: #4294f7;
  --ew-second-green: #6ba43a;
  --ew-orange-color2: #ff4d00;
  --ew-orange-color3: #f90;
  --ew-second-brown: #7b6756;
  --ew-link-hover: #006395;
  --vista-blue: #21356e;
  --vista-teal: #21666c;
  --vista-gray: #efefef;
  --vista-link-hover: #17254D;
  --dc-main-blue: #1a68a8;
  --dc-main-blue-light: #1a8dcd;
  --dc-darkest-blue: #0c2040;
  --dc-second-dark-blue: #193f7f;
  --dc-second-light-blue: #c6e3f3;
  --dc-main-orange: #ef7000;
  --dc-link-hover: #BF5A00;


  /* letter spacing */
  --letter-spacing-s: 0px;
  --letter-spacing-xxs: -0.8px;
  --letter-spacing-m: 0.32px;
  --letter-spacing-xxxs: -0.48px;
  --letter-spacing-xxxxl: -0.32px;
  --color-white: #fff;
  --color-light-gray: #e7e7e7;
  --color-gray: #b0b0b0;
  --color-lighter-warm: #f3f2ef;
  --color-light-warm: #dedacd;
  --color-mid-warm: #8d866d;
  --color-dark-warm: #625e59;
  --color-darkest-warm: #1c1818;
  --color-black: #000;

  /* buttons */

  /* a.button:any-link,
  button {
    box-sizing: border-box;
    max-width: 100%;
    margin: 12px 0;
    border: 2px solid transparent;
    border-radius: 2.4em;
    font-family: var(--body-font-family);
    font-style: normal;
    text-align: center;
    text-decoration: none;
    background-color: var(--link-color);
    color: var(--background-color);
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } */

  /* Primary and Default Button */
  /* stylelint-disable-next-line no-descending-specificity */
  a.button,
  button,
  a.button.primary,
  button.primary {
    background-color: var(--link-color);
    color: var(--color-white);
  }

  a.button:hover,
  button:hover,
  a.button.primary:hover,
  button.primary:hover {
    background-color: var(--link-hover-color);
    color: var(--color-white);
  }

  a.button:disabled,
  button:disabled,
  a.button.primary:disabled,
  button.primary:disabled {
    background-color: var(--link-color);
    color: var(--color-white);
    opacity: 0.3;
  }

  a.button:focus,
  button:focus,
  a.button.primary:focus,
  button.primary:focus {
    background-color: var(--link-color);
    color: var(--color-white);
    outline: 2px solid var(--link-color);
    outline-offset: 2px;
  }

  @media (width <= 768px) {
    a.button,
    button,
    a.button.primary,
    button.primary {
      padding: 0.75em 1.5em;
    }
  }

  /* Secondary Button */

  a.button.secondary,
  button.secondary {
    background-color: unset;
    border: 2px solid var(--link-color);
    color: var(--link-color);
  }

  a.button.secondary:hover,
  button.secondary:hover {
    background-color: unset;
    border: 2px solid var(--link-hover-color);
    color: var(--link-hover-color);
  }

  a.button.secondary:disabled,
  button.secondary:disabled {
    background-color: unset;
    border: 2px solid var(--link-color);
    color: var(--link-color);
    opacity: 0.3;
  }

  a.button.secondary:focus,
  button.secondary:focus {
    background-color: unset;
    border: 2px solid var(--link-color);
    color: var(--link-color);
    outline: 2px solid var(--link-color);
    outline-offset: 2px;
  }
  
  @media (width <= 768px) {
    a.button.secondary,
    button.secondary {
      padding: 0.75em 1.5em;
    }
  }

  /* Text Button */

  a.button.text-btn,
  button.text-btn {
    background-color: unset;
    color: var(--link-color);
    padding: 0;
  }

  a.button.text-btn:hover,
  button.text-btn:hover {
    background-color: unset;
    color: var(--link-hover-color);
    border-bottom: 1px solid var(--link-hover-color);
  }

  a.button.text-btn:disabled,
  button.text-btn:disabled {
    background-color: unset;
    color: var(--link-color);
    opacity: 0.3;
  }

  a.button.text-btn:focus,
  button.text-btn:focus {
    background-color: unset;
    border-radius: 4px;
    border: 1px solid var(--link-color);
    color: var(--link-color);
  }

  /* Link Button */

  a.button.link-btn,
  button.link-btn {
    background-color: unset;
    color: var(--link-color);
    padding: 0;
  }

  a.button.link-btn:hover,
  button.link-btn:hover {
    background-color: unset;
    color: var(--link-hover-color);
    border-bottom: 1px solid var(--link-hover-color);
  }

  a.button.link-btn:disabled,
  button.link-btn:disabled {
    background-color: unset;
    color: var(--link-color);
    opacity: 0.3;
  }

  a.button.link-btn:focus,
  button.link-btn:focus {
    background-color: unset;
    border-radius: 8px;
    border: 2px solid var(--link-color);
    color: var(--link-color);
  }

  /* fonts */
  /* stylelint-disable-next-line value-keywords-case */
  --body-font-family: AvenirLTPro-Medium, sans-serif;
  --heading-font-family: AvenirLTPro-Heavy, sans-serif;
  --avenir-black: AvenirLTPro-Black, sans-serif;
  --avenir-roman: AvenirLTPro-Roman, sans-serif;
  --avenir-medium: AvenirLTPro-Medium, sans-serif;

   /* font weight */
   --font-weight-xtra-bold: 900;
   --font-weight-bold: 800;
   --font-weight-light-bold: 700;
   --font-weight-medium: 500;
   --font-weight-regular: 400;

  /* Typography */
  --font-size-base: 16px;
  --font-size-heading: 2rem;
  --line-height-base: 1.5;

    /* line hight */
    --line-height: 24px;
    --line-height-l: normal;
    --line-height-m:92px;
    --line-height-s: 58px;
    --line-height-xs: 40px;
    --line-height-xxs: 24px;

    /* body sizes */
    --body-font-size-xxxxl: 80px;
    --body-font-size-xxxl:48px;
    --body-font-size-xxl-1: 36px;
    --body-font-size-xxl: 32px;
    --body-font-size-xl-1: 28px;
    --body-font-size-xl: 20px;
    --body-font-size-l: 22px;
    --body-font-size-m-1: 18px;
    --body-font-size-m: 19px;
    --body-font-size-s: 17px;
    --body-font-size-xs: 16px;
    --body-font-size-xxs: 14px;
    --body-font-size-xxxs: 12px;
    --body-font-size-xxxxs: 11px;
    --body-font-size-xxxxxs: 10px;

    /* heading sizes */
    --heading-font-size-xxxl:80px;
    --heading-font-size-xxl: 55px;
    --heading-font-size-xl: 44px;
    --heading-font-size-l: 34px;
    --heading-font-size-m: 27px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px;

    /* nav height */
    --nav-height: 64px;
}

@media (width <= 900px) {
  h1 {
    font-size: 64px;
    font-style: normal;
    font-weight: var(--font-weight-xtra-bold);
    line-height: 92px;
    letter-spacing: -0.64px;
  }

  h2 {
    font-size: 36px;
    font-style: normal;
    font-weight: var(--font-weight-xtra-bold);
    line-height: 58px;
    letter-spacing: -0.36px;
  }

  h3{
    font-size: 28px;
    font-style: normal;
    font-weight: var(--font-weight-xtra-bold);
    line-height: 40px;
    letter-spacing: -0.28px;
  }

  /* subtitle */

.s-medium {
  font-weight: var(--font-weight-medium);
  font-size: var(--body-font-size-m-1);
  line-height: var(--line-height);
  font-style: normal;
}

.s-bold {
  font-weight: var(--font-weight-xtra-bold);
  font-size: var(--body-font-size-m-1);
  line-height: var(--body-font-size-l);
  font-style: normal;
}

/* Big body */

.b-regular {
  font-weight: var(--font-weight-regular);
  font-size: var(--body-font-size-m-1);
  line-height: var(--line-height);
  font-style: normal;
}

.b1-regular {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-base);
  line-height: var(--body-font-size-l);
  font-style: normal;
}

.b1-bold {
  font-weight: var(--font-weight-xtra-bold);
  font-size: var(--body-font-size-xs);
  line-height: 22.4px;
  font-style: normal;
}

.b2-regular {
  font-weight: var(--font-weight-regular);
  font-size: var(--body-font-size-xxs);
  line-height: 19.6px;
  font-style: normal;
}

.b2-bold {
  font-weight: var(--font-weight-xtra-bold);
  font-size: var(--body-font-size-xxs);
  line-height: 19.6px;
  font-style: normal;
}

.b3-regular {
  font-weight: var(--font-weight-regular);
  font-size: var(--body-font-size-xxxs);
  line-height: 16.8px;
  font-style: normal;
}

.b3-bold {
  font-weight: var(--font-weight-xtra-bold);
  font-size: var(--body-font-size-xxxs);
  line-height: 16.8px;
  font-style: normal;
}

.button-medium {
  font-size: var(--body-font-size-xxs);
  font-weight: var(--font-weight-bold);
  line-height: 19.6px;
  font-style: normal;
}

/* footnotes */

.f-regular {
  font-weight: var(--font-weight-regular);
  font-size: var(--body-font-size-xxxxxs);
  line-height: var(--body-font-size-xxs);
  font-style: normal;
}

.f-bold {
  font-weight: var(--font-weight-xtra-bold);
  font-size: var(--body-font-size-xxxxxs);
  line-height: var(--body-font-size-xxs);
  font-style: normal;
}

/* Link */
.link {
  font-weight: var(--font-weight-bold);
  font-size: var(--body-font-size-xxs);
  line-height: normal;
  font-style: normal;
}

}

@media (width >= 900px) {
    :root {
        /* body sizes */
        --body-font-size-m: 18px;
        --body-font-size-s: 16px;
        --body-font-size-xs: 14px;

        /* heading sizes */
        --heading-font-size-xxl: 45px;
        --heading-font-size-xl: 36px;
        --heading-font-size-l: 28px;
        --heading-font-size-m: 22px;
        --heading-font-size-s: 20px;
        --heading-font-size-xs: 18px;
    }
}

body {
    display: none;
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--body-font-family);
    font-size: var(--body-font-size-m);
    line-height: 1.6;
}

body.appear {
    display: block;
}

header {
    height: var(--nav-height);
}

header .header,
footer .footer {
    visibility: hidden;
}

header .header[data-block-status='loaded'],
footer .footer[data-block-status='loaded'] {
  visibility: visible;
}

h4,
h5,
h6 {
    margin-top: 0.8em;
    margin-bottom: 0.25em;
    font-family: var(--heading-font-family);
    font-weight: 600;
    line-height: 1.25;
    scroll-margin: 40px;
}

dl,
ol,
ul,
pre,
blockquote {
    margin-top: 0.8em;
    margin-bottom: 0.25em;
}

code,
pre {
    font-size: var(--body-font-size-s);
}

pre {
    padding: 16px;
    border-radius: 8px;
    background-color: var(--light-color);
    overflow-x: auto;
    white-space: pre;
}

main > div {
    margin: 40px 16px;
}

input,
textarea,
select {
    font: inherit;
}

/* links */
a:any-link {
    color: var(--link-color);
    text-decoration: none;
    overflow-wrap: break-word;
}

a:hover {
    color: var(--link-hover-color);
    text-decoration: underline;
}

.main img {
  max-width: 100%;
  width: auto;
  height: auto;
  display: block;
}

.icon {
    display: inline-block;
    height: 24px;
    width: 24px;
}

.icon img {
    height: 100%;
    width: 100%;
}

/* sections */
main > .section {
    margin: 0;
}

main > .section > div {
    max-width: 100%;
    margin: auto;
    padding: 0 0px;
}

main > .section:first-of-type {
  margin-top: 95px!important;
}

@media (width >= 900px) {
    main > .section > div {
        padding: 0 0px;
    }

    main > .section:first-of-type {
      margin-top: 94px!important;
    }

    h1 {
      font-size: var(--heading-font-size-xxxl);
      font-style: normal;
      font-weight: var(--font-weight-xtra-bold);
      line-height: var(--line-height-m);
      letter-spacing: -0.8px;
  }
  
  h2 {
      font-size: var(--body-font-size-xxxl);
      font-style: normal;
      font-weight: var(--font-weight-xtra-bold);
      line-height: var(--line-height-s);
      letter-spacing: -0.48px;
  }
  
  h3 {
    font-weight: var(--font-weight-xtra-bold);
    font-size: var(--body-font-size-xxl);
    line-height: var(--line-height-xs);
    letter-spacing: var(--letter-spacing-xxxxl);
    font-style: normal;
  }
  
    /* subtitle */

.s-medium {
  font-weight: var(--font-weight-medium);
  font-size: var(--body-font-size-xl);
  line-height: var(--line-height);
  font-style: normal;
}

.s-bold {
  font-weight: var(--font-weight-xtra-bold);
  font-size: var(--body-font-size-xl);
  line-height: var(--body-font-size-l);
  font-style: normal;
}

/* Big body */

.b-regular {
  font-weight: var(--font-weight-regular);
  font-size: var(--body-font-size-xl);
  line-height: var(--line-height);
  font-style: normal;
}

.b1-regular {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-base);
  line-height: var(--body-font-size-l);
  font-style: normal;
}

.b1-bold {
  font-weight: var(--font-weight-xtra-bold);
  font-size: var(--font-size-base);
  line-height: 22.4px;
  font-style: normal;
}

.b2-regular {
  font-weight: var(--font-weight-regular);
  font-size: var(--body-font-size-xxs);
  line-height: 19.6px;
  font-style: normal;
}

.b2-bold {
  font-weight: var(--font-weight-xtra-bold);
  font-size: var(--body-font-size-xs);
  line-height: 19.6px;
  font-style: normal;
}

.b3-regular {
  font-weight: var(--font-weight-regular);
  font-size: var(--body-font-size-xxxs);
  line-height: 16.8px;
  font-style: normal;
}

.b3-bold {
  font-weight: var(--font-weight-xtra-bold);
  font-size: var(--body-font-size-xxxs);
  line-height: 16.8px;
  font-style: normal;
}

.button-medium {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
  line-height: 22.4px;
  font-style: normal;
}

/* footnotes */

.f-regular {
  font-weight: var(--font-weight-regular);
  font-size: var(--body-font-size-xxxxs);
  line-height: 15.4px;
  font-style: normal;
}

.f-bold {
  font-weight: var(--font-weight-xtra-bold);
  font-size: var(--body-font-size-xxxxs);
  line-height: 15.4px;
  font-style: normal;
}

/* Link */
.link {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-base);
  line-height: normal;
  font-style: normal;
}

}

/* section metadata */
main .section.light,
main .section.highlight {
    background-color: var(--light-color);
    margin: 0;
    padding: 40px 0;
}

/* Typography - American best */

/* Heading */

h1,
h2,
h3,
.s-bold,
.b1-bold,
.b2-bold,
.b3-bold,
.f-bold,
.link {
  font-family: var(--avenir-black);
}

.s-medium{
  font-family: var(--avenir-medium);
}

.b-regular
.b1-regular,
.b2-regular,
.b3-regular,
.button-medium,
.f-regular
 {
  font-family: var(--avenir-roman);
}