:root {
 --gilroy: "Gilroy-Regular", sans-serif;
 --avenir: "Avenir", sans-serif;
 --myriad-pro: "MYRIADPRO-REGULAR", sans-serif;
 --graphik: "Graphik-Regular", sans-serif;
}


.section.breadcrumb-container {
  background-color: var( --color-white);
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.breadcrumb.logo.block
{
display: flex;
width: 1440px;
padding:  20px 64px;
align-items: center;
gap: 16px;
}

.breadcrumb .breadcrumb-nav a,
header .breadcrumb-nav .breadcrumb a {
  text-decoration: none;
  font-size: 16px;
  color: var(--link-color);
  text-align: center;
  font-weight: 800;
  font-style: normal;
  line-height: 22.4px;
  letter-spacing: 0.28px;
  font-family: AvenirLTPro-Book,roboto, roboto-fallback, sans-serif; 
}

.breadcrumb-nav {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.breadcrumb .logo-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;

}

.breadcrumb a picture {
  display: flex;
}

.breadcrumb a.active {
  color: var(--color-dark-warm);
  pointer-events: none;
  cursor: none;
}

.breadcrumb {
  margin: 0;
  display: flex;
  gap: 16px;
  align-items: center;
  height: auto;
  padding: 20px 16px;
}

.breadcrumb .icon {
  width: 16px;
  height: 16px;
}

.breadcrumb div:empty {
  display: none;
}

/* vista d */
.brand-vi .breadcrumb .breadcrumb-nav a,
/* header .breadcrumb-nav .breadcrumb a{
  font-family: var(--myriad-pro);
  font-weight: 400;
  color: #21356E;
  font-size: 16px;
} */

.brand-vi .breadcrumb .icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}



/* eyeglass */


.brand-eye .breadcrumb .breadcrumb-nav a,
header .breadcrumb-nav .breadcrumb a{
  font-family: var(--graphik);
  font-weight: 600;
  font-size: 16px;
  color: #E12726;
}

.brand-eye .breadcrumb a.active {
  color: var(--color-dark-warm);
  pointer-events: none;
  cursor: none;
}

/* discount */

.brand-dc .breadcrumb .icon {
  width: 24px;
  height: 13.923px;
  flex-shrink: 0;
  aspect-ratio: 24.00/13.92;
}

.brand-dc .breadcrumb .breadcrumb-nav a,
header .breadcrumb-nav .breadcrumb a
{
color:  #1A68A8;
font-family: var(--gilroy);
font-size:  16px;
font-weight: 400;
}

.brand-dc .breadcrumb a.active {
  color: var(--color-dark-warm);
  pointer-events: none;
  cursor: none;
}

/* vista */


.brand-vi .breadcrumb .breadcrumb-nav a,
header .breadcrumb-nav .breadcrumb a{
color:  #21356E;
font-family: var(--myriad-pro);
font-weight: 400;
}

.brand-vi .breadcrumb a.active {
  color: var(--color-dark-warm);
  pointer-events: none;
  cursor: none;
}

.breadcrumb-nav img
{
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  aspect-ratio: 1/1;   
  display: flex;
}





/* american */

@media (width <= 900px) {
.breadcrumb.logo.block
{
  display: flex;
  width: 375px;
  padding: 20px  16px;
  align-items: center;
  gap:  16px;
}

.breadcrumb-nav img
{
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  aspect-ratio: 1/1;   
  display: flex;
}

.breadcrumb .breadcrumb-nav a,
header .breadcrumb-nav .breadcrumb a {
  display: flex;
  color:  #625E59;
  text-align: center;
  font-family: var(--avenir);
  font-size:  14px;
  font-style: normal;
  font-weight: 800;
  line-height:  19.6px;
}

.breadcrumb-nav {
  display: flex;
  gap: 16px;
  width: 375px;
  padding: 20px 16px;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.breadcrumb a.active {
  color: var(--color-dark-warm);
  pointer-events: none;
  cursor: none;
}


/* eyeglass */
.brand-eye .breadcrumb-nav .icon{
  width: 24px;  
  height: 24px; 
}

.brand-vi .breadcrumb .breadcrumb-nav a,
header .breadcrumb-nav .breadcrumb a{
  font-family: var(--graphik);

}

/* vista */

/* .brand-vi .breadcrumb .breadcrumb-nav a,
header .breadcrumb-nav .breadcrumb a{
  font-family: var(--myriad-pro);
  font-weight: 400;
  color: #21356E;
} */

/* discount */

.brand-dc .breadcrumb-nav img {
  width:  16px;
  height: 9.282px;
}



.brand-dc .breadcrumb .breadcrumb-nav a,
header .breadcrumb-nav .breadcrumb a{
  font-family: var(--gilroy);
  font-weight: 400;
  color: #1A68A8;
}
}